<a href="https://colab.research.google.com/github/naga-dheeraj-p/Assignments/blob/main/Futures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [52]:
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [53]:
import pandas as pd
data = pd.read_csv("/content/gdrive/MyDrive/bankfut/final_BANKNIFTY_F2.csv")
data['Date'] = pd.to_datetime(data['Date'], format='%Y%m%d').dt.strftime('%d-%m-%Y') # Converted to reqd format
data.sort_values(by='Date', inplace=True)
data['Time'] = pd.to_datetime(data['Time'], format='%H:%M').dt.time
start_time = pd.to_datetime('09:15:00', format='%H:%M:%S').time()
end_time = pd.to_datetime('15:30:00', format='%H:%M:%S').time()
filtered_data = data[(data['Time'] >= start_time) & (data['Time'] <= end_time)] #Filtered out the data that doesnt occur in the time range
filtered_data

,Symbol,Date,Time,Open,High,Low,Close,Volume,Open Interest
813167,BANKNIFTY_F2,01-01-2018,15:20:00,25515.20,25515.20,25515.20,25515.20,80.0,NaN
809216,BANKNIFTY_F2,01-01-2018,12:38:00,25637.50,25637.50,25637.50,25637.50,40.0,NaN
809217,BANKNIFTY_F2,01-01-2018,12:39:00,25640.00,25640.00,25640.00,25640.00,40.0,NaN
809218,BANKNIFTY_F2,01-01-2018,13:20:00,25635.80,25635.80,25625.10,25625.10,120.0,NaN
809219,BANKNIFTY_F2,01-01-2018,13:24:00,25626.10,25626.10,25625.10,25625.10,120.0,NaN
...,...,...,...,...,...,...,...,...,...
562680,BANKNIFTY_F2,31-12-2021,10:42:00,35766.75,35769.00,35766.75,35769.00,325.0,109775.0
562681,BANKNIFTY_F2,31-12-2021,10:44:00,35775.00,35775.00,35765.00,35765.00,75.0,109775.0
562682,BANKNIFTY_F2,31-12-2021,10:45:00,35760.00,35772.55,35760.00,35772.55,75.0,109775.0
562683,BANKNIFTY_F2,31-12-2021,10:48:00,35766.80,35766.80,35766.80,35766.80,100.0,109750.0
562685,BANKNIFTY_F2,31-12-2021,10:50:00,35792.75,35795.00,35792.75,35795.00,75.0,109750.0

In [54]:
import pandas as pd
df = pd.DataFrame(filtered_data)
df['Open Interest'] = df['Open Interest'].fillna(0) #Replaced Nan by 0
df['DateTime'] = pd.to_datetime(df['Date'] + ' ' + df['Time'].astype(str), format='%d-%m-%Y %H:%M:%S', errors='coerce') #Concatenated Date and Time to set a unique index
df = df.set_index('DateTime')
df = df.dropna(subset=['Date', 'Time'])
all_days = df.index.normalize().unique()
full_range = pd.concat([pd.DataFrame(index=pd.date_range(start=f"{day} 09:16", end=f"{day} 15:30", freq='1T')) for day in all_days])
full_range = full_range.merge(df, how='left', left_index=True, right_index=True)
full_range.fillna(method='ffill', inplace=True)
full_range.reset_index(inplace=True)
full_range.rename(columns={'index': 'DateTime'}, inplace=True)
full_range['Date'] = full_range['DateTime'].dt.strftime('%d-%m-%Y')
full_range['Time'] = full_range['DateTime'].dt.strftime('%H:%M:%S')
full_range = full_range[['Symbol', 'Date', 'Time', 'Open', 'High', 'Low', 'Close', 'Volume', 'Open Interest']]
full_range['DateTime'] = pd.to_datetime(full_range['Date'] + ' ' + full_range['Time'], format='%d-%m-%Y %H:%M:%S')
full_range.set_index('DateTime', inplace=True)

aggregation = {
    'Symbol': 'first',
    'Open': 'first',
    'High': 'max',
    'Low': 'min',
    'Close': 'last',
    'Volume': 'sum',
    'Open Interest': 'last'
}

resampled_df = full_range.resample('5T').apply(aggregation)

# Reset index to split DateTime into Date and Time
resampled_df.reset_index(inplace=True)
resampled_df['Date'] = resampled_df['DateTime'].dt.strftime('%d-%m-%Y')
resampled_df['Time'] = resampled_df['DateTime'].dt.strftime('%H:%M:%S')

resampled_df.drop(columns=['DateTime'], inplace=True)
resampled_df = resampled_df[['Symbol', 'Date', 'Time', 'Open', 'High', 'Low', 'Close', 'Volume', 'Open Interest']]

resampled_df

,Symbol,Date,Time,Open,High,Low,Close,Volume,Open Interest
0,BANKNIFTY_F2,01-01-2018,09:15:00,25634.00,25643.10,25608.0,25643.10,480.0,0.0
1,BANKNIFTY_F2,01-01-2018,09:20:00,25631.50,25675.70,25631.5,25665.30,600.0,0.0
2,BANKNIFTY_F2,01-01-2018,09:25:00,25665.30,25665.30,25655.1,25655.10,240.0,0.0
3,BANKNIFTY_F2,01-01-2018,09:30:00,25647.70,25647.70,25647.7,25647.70,240.0,0.0
4,BANKNIFTY_F2,01-01-2018,09:35:00,25647.70,25647.70,25647.0,25647.00,440.0,0.0
...,...,...,...,...,...,...,...,...,...
542663,BANKNIFTY_F2,28-02-2023,15:10:00,40699.55,40699.55,40671.3,40691.00,1250.0,1170525.0
542664,BANKNIFTY_F2,28-02-2023,15:15:00,40700.00,40700.00,40670.0,40687.05,1850.0,1170650.0
542665,BANKNIFTY_F2,28-02-2023,15:20:00,40696.30,40721.95,40695.0,40703.05,6000.0,1171475.0
542666,BANKNIFTY_F2,28-02-2023,15:25:00,40715.20,40715.20,40694.1,40706.00,4700.0,1173225.0
542667,BANKNIFTY_F2,28-02-2023,15:30:00,40706.00,40710.00,40705.0,40710.00,1100.0,1173225.0

In [55]:
resampled_df.head(60)

,Symbol,Date,Time,Open,High,Low,Close,Volume,Open Interest
0,BANKNIFTY_F2,01-01-2018,09:15:00,25634.0,25643.1,25608.0,25643.1,480.0,0.0
1,BANKNIFTY_F2,01-01-2018,09:20:00,25631.5,25675.7,25631.5,25665.3,600.0,0.0
2,BANKNIFTY_F2,01-01-2018,09:25:00,25665.3,25665.3,25655.1,25655.1,240.0,0.0
3,BANKNIFTY_F2,01-01-2018,09:30:00,25647.7,25647.7,25647.7,25647.7,240.0,0.0
4,BANKNIFTY_F2,01-01-2018,09:35:00,25647.7,25647.7,25647.0,25647.0,440.0,0.0
5,BANKNIFTY_F2,01-01-2018,09:40:00,25655.1,25661.9,25655.0,25655.0,320.0,0.0
6,BANKNIFTY_F2,01-01-2018,09:45:00,25653.0,25653.0,25645.0,25650.0,440.0,0.0
7,BANKNIFTY_F2,01-01-2018,09:50:00,25645.0,25650.0,25645.0,25650.0,400.0,0.0
8,BANKNIFTY_F2,01-01-2018,09:55:00,25645.0,25650.0,25645.0,25650.0,400.0,0.0
9,BANKNIFTY_F2,01-01-2018,10:00:00,25642.0,25642.0,25642.0,25642.0,1680.0,0.0
10,BANKNIFTY_F2,01-01-2018,10:05:00,25642.0,25655.0,25642.0,25653.7,1200.0,0.0
11,BANKNIFTY_F2,01-01-2018,10:10:00,25660.0,25660.0,25660.0,25660.0,280.0,0.0
12,BANKNIFTY_F2,01-01-2018,10:15:00,25660.0,25660.0,25660.0,25660.0,200.0,0.0
13,BANKNIFTY_F2,01-01-2018,10:20:00,25660.0,25660.0,25659.9,25659.9,640.0,0.0
14,BANKNIFTY_F2,01-01-2018,10:25:00,25659.9,25659.9,25659.9,25659.9,1200.0,0.0
15,BANKNIFTY_F2,01-01-2018,10:30:00,25659.9,25659.9,25659.9,25659.9,1200.0,0.0
16,BANKNIFTY_F2,01-01-2018,10:35:00,25659.9,25659.9,25659.9,25659.9,1200.0,0.0
17,BANKNIFTY_F2,01-01-2018,10:40:00,25659.9,25659.9,25659.9,25659.9,1200.0,0.0
18,BANKNIFTY_F2,01-01-2018,10:45:00,25659.9,25659.9,25648.9,25649.0,680.0,0.0
19,BANKNIFTY_F2,01-01-2018,10:50:00,25649.0,25649.0,25649.0,25649.0,200.0,0.0
20,BANKNIFTY_F2,01-01-2018,10:55:00,25649.0,25649.0,25649.0,25649.0,200.0,0.0
21,BANKNIFTY_F2,01-01-2018,11:00:00,25649.0,25655.0,25649.0,25655.0,240.0,0.0
22,BANKNIFTY_F2,01-01-2018,11:05:00,25655.0,25655.0,25655.0,25655.0,200.0,0.0
23,BANKNIFTY_F2,01-01-2018,11:10:00,25655.0,25655.0,25655.0,25655.0,200.0,0.0
24,BANKNIFTY_F2,01-01-2018,11:15:00,25655.0,25655.0,25647.1,25655.0,520.0,0.0
25,BANKNIFTY_F2,01-01-2018,11:20:00,25655.0,25658.0,25652.1,25653.1,680.0,0.0
26,BANKNIFTY_F2,01-01-2018,11:25:00,25658.0,25658.0,25650.3,25650.3,520.0,0.0
27,BANKNIFTY_F2,01-01-2018,11:30:00,25656.0,25656.0,25650.3,25650.3,400.0,0.0
28,BANKNIFTY_F2,01-01-2018,11:35:00,25656.0,25656.0,25650.3,25650.3,400.0,0.0
29,BANKNIFTY_F2,01-01-2018,11:40:00,25656.0,25656.0,25650.3,25650.3,400.0,0.0
30,BANKNIFTY_F2,01-01-2018,11:45:00,25656.0,25656.0,25650.0,25650.0,480.0,0.0
31,BANKNIFTY_F2,01-01-2018,11:50:00,25650.0,25650.0,25650.0,25650.0,240.0,0.0
32,BANKNIFTY_F2,01-01-2018,11:55:00,25650.0,25650.0,25650.0,25650.0,200.0,0.0
33,BANKNIFTY_F2,01-01-2018,12:00:00,25650.0,25650.0,25645.0,25645.0,240.0,0.0
34,BANKNIFTY_F2,01-01-2018,12:05:00,25645.0,25645.0,25645.0,25645.0,200.0,0.0
35,BANKNIFTY_F2,01-01-2018,12:10:00,25645.0,25645.0,25637.9,25642.0,600.0,0.0
36,BANKNIFTY_F2,01-01-2018,12:15:00,25642.0,25642.0,25639.3,25639.3,320.0,0.0
37,BANKNIFTY_F2,01-01-2018,12:20:00,25639.3,25639.3,25635.1,25635.1,480.0,0.0
38,BANKNIFTY_F2,01-01-2018,12:25:00,25635.1,25635.2,25635.1,25635.2,560.0,0.0
39,BANKNIFTY_F2,01-01-2018,12:30:00,25635.2,25635.2,25635.2,25635.2,600.0,0.0
40,BANKNIFTY_F2,01-01-2018,12:35:00,25638.0,25640.0,25637.5,25640.0,320.0,0.0
41,BANKNIFTY_F2,01-01-2018,12:40:00,25640.0,25640.0,25640.0,25640.0,200.0,0.0
42,BANKNIFTY_F2,01-01-2018,12:45:00,25640.0,25640.0,25640.0,25640.0,200.0,0.0
43,BANKNIFTY_F2,01-01-2018,12:50:00,25640.0,25640.0,25640.0,25640.0,200.0,0.0
44,BANKNIFTY_F2,01-01-2018,12:55:00,25640.0,25640.0,25640.0,25640.0,200.0,0.0
45,BANKNIFTY_F2,01-01-2018,13:00:00,25640.0,25640.0,25640.0,25640.0,200.0,0.0
46,BANKNIFTY_F2,01-01-2018,13:05:00,25640.0,25640.0,25640.0,25640.0,200.0,0.0
47,BANKNIFTY_F2,01-01-2018,13:10:00,25640.0,25640.0,25640.0,25640.0,200.0,0.0
48,BANKNIFTY_F2,01-01-2018,13:15:00,25640.0,25640.0,25640.0,25640.0,200.0,0.0
49,BANKNIFTY_F2,01-01-2018,13:20:00,25635.8,25635.8,25625.1,25625.1,840.0,0.0
50,BANKNIFTY_F2,01-01-2018,13:25:00,25616.0,25630.0,25616.0,25630.0,320.0,0.0
51,BANKNIFTY_F2,01-01-2018,13:30:00,25637.3,25637.3,25637.3,25637.3,240.0,0.0
52,BANKNIFTY_F2,01-01-2018,13:35:00,25637.3,25637.3,25637.3,25637.3,200.0,0.0
53,BANKNIFTY_F2,01-01-2018,13:40:00,25637.3,25637.3,25625.0,25625.0,240.0,0.0
54,BANKNIFTY_F2,01-01-2018,13:45:00,25625.0,25625.0,25625.0,25625.0,200.0,0.0
55,BANKNIFTY_F2,01-01-2018,13:50:00,25625.0,25634.1,25625.0,25634.1,400.0,0.0
56,BANKNIFTY_F2,01-01-2018,13:55:00,25634.1,25634.1,25634.1,25634.1,400.0,0.0
57,BANKNIFTY_F2,01-01-2018,14:00:00,25634.1,25634.1,25634.1,25634.1,400.0,0.0
58,BANKNIFTY_F2,01-01-2018,14:05:00,25637.1,25637.1,25635.0,25635.0,280.0,0.0
59,BANKNIFTY_F2,01-01-2018,14:10:00,25635.0,25637.3,25635.0,25636.3,600.0,0.0

In [56]:
df = pd.DataFrame(resampled_df)
df

,Symbol,Date,Time,Open,High,Low,Close,Volume,Open Interest
0,BANKNIFTY_F2,01-01-2018,09:15:00,25634.00,25643.10,25608.0,25643.10,480.0,0.0
1,BANKNIFTY_F2,01-01-2018,09:20:00,25631.50,25675.70,25631.5,25665.30,600.0,0.0
2,BANKNIFTY_F2,01-01-2018,09:25:00,25665.30,25665.30,25655.1,25655.10,240.0,0.0
3,BANKNIFTY_F2,01-01-2018,09:30:00,25647.70,25647.70,25647.7,25647.70,240.0,0.0
4,BANKNIFTY_F2,01-01-2018,09:35:00,25647.70,25647.70,25647.0,25647.00,440.0,0.0
...,...,...,...,...,...,...,...,...,...
542663,BANKNIFTY_F2,28-02-2023,15:10:00,40699.55,40699.55,40671.3,40691.00,1250.0,1170525.0
542664,BANKNIFTY_F2,28-02-2023,15:15:00,40700.00,40700.00,40670.0,40687.05,1850.0,1170650.0
542665,BANKNIFTY_F2,28-02-2023,15:20:00,40696.30,40721.95,40695.0,40703.05,6000.0,1171475.0
542666,BANKNIFTY_F2,28-02-2023,15:25:00,40715.20,40715.20,40694.1,40706.00,4700.0,1173225.0
542667,BANKNIFTY_F2,28-02-2023,15:30:00,40706.00,40710.00,40705.0,40710.00,1100.0,1173225.0

In [57]:

df['DateTime'] = pd.to_datetime(df['Date'].str.strip() + ' ' + df['Time'].str.strip(), format='%d-%m-%Y %H:%M:%S', errors='coerce')
df = df.dropna(subset=['DateTime'])  # Remove rows where DateTime could not be parsed
df.set_index('DateTime', inplace=True)
# Calculate typical price for VWAP
df.loc[:, 'Price'] = (df['High'] + df['Low'] + df['Close']) / 3

# Calculate cumulative values for VWAP
cumulative_price_volume = (df['Price'] * df['Volume']).cumsum()
cumulative_volume = df['Volume'].cumsum()

df.loc[:, 'VWAP'] = cumulative_price_volume / cumulative_volume #Calculating for 1 min

# Aggregate the data into 5-minute intervals
resampled = df.resample('5T').agg({
    'Symbol': 'first',
    'Open': 'first',
    'High': 'max',
    'Low': 'min',
    'Close': 'last',
    'Volume': 'sum',
    'Open Interest': 'last',
    'Price': 'last'
})
# Calculate cumulative values for the resampled data
resampled['Price'] = (resampled['High'] + resampled['Low'] + resampled['Close']) / 3
resampled_cumulative_price_volume = (resampled['Price'] * resampled['Volume']).cumsum()
resampled_cumulative_volume = resampled['Volume'].cumsum()

# Calculating VWAP for the 5-minute intervals
resampled['VWAP'] = resampled_cumulative_price_volume / resampled_cumulative_volume

resampled.reset_index(inplace=True)
resampled['Date'] = resampled['DateTime'].dt.strftime('%d-%m-%Y')
resampled['Time'] = resampled['DateTime'].dt.strftime('%H:%M')

resampled.drop(columns=['DateTime', 'Price'], inplace=True) # Dropped DateTime column and unnecessary columns
resampled = resampled[['Symbol', 'Date', 'Time', 'Open', 'High', 'Low', 'Close', 'Volume', 'Open Interest', 'VWAP']]

resampled.dropna(inplace=True)
resampled.tail(60)

<ipython-input-57-5f8b17ba838f>:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resampled.dropna(inplace=True)

,Symbol,Date,Time,Open,High,Low,Close,Volume,Open Interest,VWAP
542608,BANKNIFTY_F2,28-02-2023,10:35,40800.00,40808.00,40771.00,40771.00,1350.0,1022825.0,31835.727338
542609,BANKNIFTY_F2,28-02-2023,10:40,40757.20,40760.00,40740.00,40749.90,1250.0,1022725.0,31835.737262
542610,BANKNIFTY_F2,28-02-2023,10:45,40743.00,40743.00,40675.05,40691.05,4250.0,1022100.0,31835.770828
542611,BANKNIFTY_F2,28-02-2023,10:50,40702.30,40715.00,40698.95,40715.00,925.0,1022050.0,31835.778139
542612,BANKNIFTY_F2,28-02-2023,10:55,40713.60,40734.25,40703.55,40726.15,1275.0,1022125.0,31835.788229
542613,BANKNIFTY_F2,28-02-2023,11:00,40720.65,40740.00,40720.20,40738.10,950.0,1022075.0,31835.795757
542614,BANKNIFTY_F2,28-02-2023,11:05,40740.00,40750.00,40724.05,40750.00,1850.0,1022050.0,31835.810431
542615,BANKNIFTY_F2,28-02-2023,11:10,40729.95,40750.00,40724.90,40736.10,700.0,1022375.0,31835.815981
542616,BANKNIFTY_F2,28-02-2023,11:15,40728.10,40752.85,40720.00,40721.00,850.0,1022375.0,31835.822715
542617,BANKNIFTY_F2,28-02-2023,11:20,40721.00,40721.00,40710.00,40710.00,800.0,1022300.0,31835.829041
542618,BANKNIFTY_F2,28-02-2023,11:25,40710.00,40720.95,40698.30,40710.10,2950.0,1022225.0,31835.852357
542619,BANKNIFTY_F2,28-02-2023,11:30,40704.65,40740.00,40704.65,40725.85,900.0,1022925.0,31835.859481
542620,BANKNIFTY_F2,28-02-2023,11:35,40713.25,40726.90,40713.25,40726.90,425.0,1022900.0,31835.862845
542621,BANKNIFTY_F2,28-02-2023,11:40,40726.90,40726.90,40690.85,40709.05,1125.0,1022875.0,31835.871736
542622,BANKNIFTY_F2,28-02-2023,11:45,40700.00,40758.05,40691.80,40758.05,30000.0,1028225.0,31836.109537
542623,BANKNIFTY_F2,28-02-2023,11:50,40758.05,40758.05,40710.00,40724.00,28050.0,1047975.0,31836.331738
542624,BANKNIFTY_F2,28-02-2023,11:55,40730.05,40745.30,40708.90,40708.90,6375.0,1053125.0,31836.382182
542625,BANKNIFTY_F2,28-02-2023,12:00,40702.00,40718.00,40690.00,40718.00,21825.0,1058650.0,31836.554633
542626,BANKNIFTY_F2,28-02-2023,12:05,40705.00,40725.00,40689.70,40724.35,7750.0,1063725.0,31836.615899
542627,BANKNIFTY_F2,28-02-2023,12:10,40724.35,40724.35,40700.70,40719.10,175.0,1063525.0,31836.617282
542628,BANKNIFTY_F2,28-02-2023,12:15,40726.00,40762.05,40726.00,40750.00,32100.0,1078775.0,31836.871974
542629,BANKNIFTY_F2,28-02-2023,12:20,40750.00,40780.00,40750.00,40765.85,1600.0,1079450.0,31836.884696
542630,BANKNIFTY_F2,28-02-2023,12:25,40764.50,40765.00,40729.90,40745.55,1250.0,1079550.0,31836.894615
542631,BANKNIFTY_F2,28-02-2023,12:30,40756.10,40772.25,40750.90,40750.90,9700.0,1082225.0,31836.971678
542632,BANKNIFTY_F2,28-02-2023,12:35,40763.75,40763.75,40740.00,40740.00,20800.0,1093900.0,31837.136735
542633,BANKNIFTY_F2,28-02-2023,12:40,40740.00,40740.00,40710.00,40710.00,8700.0,1097100.0,31837.205556
542634,BANKNIFTY_F2,28-02-2023,12:45,40717.40,40717.40,40700.00,40711.50,1775.0,1096350.0,31837.219580
542635,BANKNIFTY_F2,28-02-2023,12:50,40711.50,40719.00,40699.95,40700.00,30650.0,1107975.0,31837.461651
542636,BANKNIFTY_F2,28-02-2023,12:55,40699.95,40725.00,40699.95,40725.00,1150.0,1111250.0,31837.470744
542637,BANKNIFTY_F2,28-02-2023,13:00,40725.00,40725.00,40708.10,40717.00,900.0,1111250.0,31837.477860
542638,BANKNIFTY_F2,28-02-2023,13:05,40717.00,40750.00,40705.70,40750.00,4050.0,1111225.0,31837.509950
542639,BANKNIFTY_F2,28-02-2023,13:10,40754.25,40760.00,40723.95,40723.95,20500.0,1115525.0,31837.672389
542640,BANKNIFTY_F2,28-02-2023,13:15,40723.95,40723.95,40700.00,40713.95,9775.0,1125425.0,31837.749640
542641,BANKNIFTY_F2,28-02-2023,13:20,40718.85,40740.10,40715.75,40740.00,700.0,1124650.0,31837.755184
542642,BANKNIFTY_F2,28-02-2023,13:25,40730.00,40730.00,40690.00,40690.00,5650.0,1123850.0,31837.799788
542643,BANKNIFTY_F2,28-02-2023,13:30,40710.90,40710.90,40698.00,40698.00,1050.0,1122700.0,31837.808076
542644,BANKNIFTY_F2,28-02-2023,13:35,40698.00,40750.00,40698.00,40724.95,1225.0,1122450.0,31837.817769
542645,BANKNIFTY_F2,28-02-2023,13:40,40717.05,40720.80,40715.00,40720.80,350.0,1122425.0,31837.820537
542646,BANKNIFTY_F2,28-02-2023,13:45,40715.00,40728.10,40700.00,40728.10,2150.0,1123025.0,31837.837540
542647,BANKNIFTY_F2,28-02-2023,13:50,40720.00,40720.00,40670.00,40675.00,5575.0,1123000.0,31837.881476
542648,BANKNIFTY_F2,28-02-2023,13:55,40690.95,40702.00,40675.10,40682.00,900.0,1122550.0,31837.888567
542649,BANKNIFTY_F2,28-02-2023,14:00,40695.30,40695.30,40591.00,40600.00,66650.0,1123225.0,31838.410264
542650,BANKNIFTY_F2,28-02-2023,14:05,40600.00,40600.00,40543.15,40550.10,64450.0,1159925.0,31838.910990
542651,BANKNIFTY_F2,28-02-2023,14:10,40545.00,40557.75,40518.05,40545.05,4100.0,1163475.0,31838.942753
542652,BANKNIFTY_F2,28-02-2023,14:15,40543.05,40557.85,40513.00,40545.10,6400.0,1163050.0,31838.992326
542653,BANKNIFTY_F2,28-02-2023,14:20,40550.00,40571.60,40549.85,40571.55,1400.0,1162950.0,31839.003202
542654,BANKNIFTY_F2,28-02-2023,14:25,40571.60,40620.00,40564.85,40619.00,2500.0,1162800.0,31839.022705
542655,BANKNIFTY_F2,28-02-2023,14:30,40618.05,40666.00,40618.05,40650.00,3300.0,1162350.0,31839.048577
542656,BANKNIFTY_F2,28-02-2023,14:35,40650.00,40658.95,40611.25,40636.05,2200.0,1162250.0,31839.065807
542657,BANKNIFTY_F2,28-02-2023,14:40,40629.00,40660.00,40629.00,40653.95,1450.0,1162250.0,31839.077179
542658,BANKNIFTY_F2,28-02-2023,14:45,40630.00,40649.85,40601.10,40649.85,1300.0,1162775.0,31839.087358
542659,BANKNIFTY_F2,28-02-2023,14:50,40648.85,40668.00,40605.10,40632.05,1400.0,1162650.0,31839.098322
542660,BANKNIFTY_F2,28-02-2023,14:55,40625.60,40689.95,40625.60,40688.00,1850.0,1162575.0,31839.112864
542661,BANKNIFTY_F2,28-02-2023,15:00,40692.00,40765.00,40680.15,40697.80,9750.0,1163300.0,31839.189906
542662,BANKNIFTY_F2,28-02-2023,15:05,40725.00,40727.00,40670.85,40700.00,14900.0,1163650.0,31839.307441
542663,BANKNIFTY_F2,28-02-2023,15:10,40699.55,40699.55,40671.30,40691.00,1250.0,1170525.0,31839.317288
542664,BANKNIFTY_F2,28-02-2023,15:15,40700.00,40700.00,40670.00,40687.05,1850.0,1170650.0,31839.331858
542665,BANKNIFTY_F2,28-02-2023,15:20,40696.30,40721.95,40695.00,40703.05,6000.0,1171475.0,31839.379226
542666,BANKNIFTY_F2,28-02-2023,15:25,40715.20,40715.20,40694.10,40706.00,4700.0,1173225.0,31839.416324
542667,BANKNIFTY_F2,28-02-2023,15:30,40706.00,40710.00,40705.00,40710.00,1100.0,1173225.0,31839.425009

# MACD

In [58]:
resampled_df_copy = df.copy()

# Converted 'Date' and 'Time' columns to strings so that we can concatenate
resampled_df_copy['Date'] = resampled_df_copy['Date'].astype(str)
resampled_df_copy['Time'] = resampled_df_copy['Time'].astype(str)
resampled_df_copy['DateTime'] = pd.to_datetime(resampled_df_copy['Date'] + ' ' + resampled_df_copy['Time'], format='%d-%m-%Y %H:%M:%S')

resampled_df_copy = resampled_df_copy.dropna(subset=['DateTime'])
resampled_df_copy.set_index('DateTime', inplace=True) #Setting DateTime column as index

resampled_df_copy['EMA_12'] = resampled_df_copy['Close'].ewm(span=12, adjust=False).mean() #12-period EMA
resampled_df_copy['EMA_26'] = resampled_df_copy['Close'].ewm(span=26, adjust=False).mean() #26-period EMA

resampled_df_copy['MACD'] = resampled_df_copy['EMA_12'] - resampled_df_copy['EMA_26'] # MACD= 12_EMA - 26_EMA

resampled_df_copy.drop(['Date'	,'Time','EMA_12', 'EMA_26'], axis=1, inplace=True)

resampled_df_copy['Date'] = resampled_df_copy.index.strftime('%d-%m-%Y')
resampled_df_copy['Time'] = resampled_df_copy.index.strftime('%H:%M:%S')
resampled_df_copy = resampled_df_copy[['Symbol', 'Date', 'Time', 'Open', 'High', 'Low', 'Close', 'Volume', 'Open Interest', 'MACD']]
resampled_df_copy

,Symbol,Date,Time,Open,High,Low,Close,Volume,Open Interest,MACD
DateTime,,,,,,,,,,
2018-01-01 09:15:00,BANKNIFTY_F2,01-01-2018,09:15:00,25634.00,25643.10,25608.0,25643.10,480.0,0.0,0.000000
2018-01-01 09:20:00,BANKNIFTY_F2,01-01-2018,09:20:00,25631.50,25675.70,25631.5,25665.30,600.0,0.0,1.770940
2018-01-01 09:25:00,BANKNIFTY_F2,01-01-2018,09:25:00,25665.30,25665.30,25655.1,25655.10,240.0,0.0,2.324572
2018-01-01 09:30:00,BANKNIFTY_F2,01-01-2018,09:30:00,25647.70,25647.70,25647.7,25647.70,240.0,0.0,2.141525
2018-01-01 09:35:00,BANKNIFTY_F2,01-01-2018,09:35:00,25647.70,25647.70,25647.0,25647.00,440.0,0.0,1.917867
...,...,...,...,...,...,...,...,...,...,...
2023-02-28 15:10:00,BANKNIFTY_F2,28-02-2023,15:10:00,40699.55,40699.55,40671.3,40691.00,1250.0,1170525.0,-3.619661
2023-02-28 15:15:00,BANKNIFTY_F2,28-02-2023,15:15:00,40700.00,40700.00,40670.0,40687.05,1850.0,1170650.0,-1.512115
2023-02-28 15:20:00,BANKNIFTY_F2,28-02-2023,15:20:00,40696.30,40721.95,40695.0,40703.05,6000.0,1171475.0,1.432681
2023-02-28 15:25:00,BANKNIFTY_F2,28-02-2023,15:25:00,40715.20,40715.20,40694.1,40706.00,4700.0,1173225.0,3.958859
2023-02-28 15:30:00,BANKNIFTY_F2,28-02-2023,15:30:00,40706.00,40710.00,40705.0,40710.00,1100.0,1173225.0,6.212031

# POC

In [60]:
data = resampled_df_copy.copy()
data['DateTime'] = pd.to_datetime(data['Date'] + ' ' + data['Time'], format='%d-%m-%Y %H:%M:%S')
data.reset_index(drop=True, inplace=True)
data.head()

,Symbol,Date,Time,Open,High,Low,Close,Volume,Open Interest,MACD,DateTime
0,BANKNIFTY_F2,01-01-2018,09:15:00,25634.0,25643.1,25608.0,25643.1,480.0,0.0,0.000000,2018-01-01 09:15:00
1,BANKNIFTY_F2,01-01-2018,09:20:00,25631.5,25675.7,25631.5,25665.3,600.0,0.0,1.770940,2018-01-01 09:20:00
2,BANKNIFTY_F2,01-01-2018,09:25:00,25665.3,25665.3,25655.1,25655.1,240.0,0.0,2.324572,2018-01-01 09:25:00
3,BANKNIFTY_F2,01-01-2018,09:30:00,25647.7,25647.7,25647.7,25647.7,240.0,0.0,2.141525,2018-01-01 09:30:00
4,BANKNIFTY_F2,01-01-2018,09:35:00,25647.7,25647.7,25647.0,25647.0,440.0,0.0,1.917867,2018-01-01 09:35:00

In [61]:
df = pd.DataFrame(data)

df['DateTime'] = pd.to_datetime(df['DateTime'], format='%d-%m-%Y')
df['Date'] = df['DateTime'].dt.date                     #Extracting the Date Part from 'DateTime'
aggregated = df.groupby(['Date', 'Close']).agg({'Volume': 'sum'}).reset_index()

poc = aggregated.loc[aggregated.groupby('Date')['Volume'].idxmax()] # POC for each date
poc.rename(columns={'Close': 'Point of Control'}, inplace=True)
poc

             Date  Point of Control    Volume
34     2018-01-01          25659.90    5440.0
51     2018-01-02          25417.90   14880.0
124    2018-01-03          25511.00    5560.0
168    2018-01-04          25500.00   28240.0
264    2018-01-05          25685.20    8880.0
...           ...               ...       ...
91490  2023-02-22          40708.10  120300.0
91528  2023-02-23          40232.20  226450.0
91587  2023-02-24          40435.25  204700.0
91673  2023-02-27          40583.65  136900.0
91721  2023-02-28          40600.00   66650.0

[1275 rows x 3 columns]

In [62]:
df = pd.DataFrame(data)
df['DateTime'] = pd.to_datetime(df['DateTime'])
df['Date'] = df['DateTime'].dt.date # Extracting Date from DateTime

daily_high_low = df.groupby('Date').agg({'High': 'max', 'Low': 'min'}).reset_index()
daily_high_low.rename(columns={'High': 'Local Maximum','Low':'Local Minimum'}, inplace=True)
daily_high_low

            Date  Local Maximum  Local Minimum
0     2018-01-01       25675.70       25481.30
1     2018-01-02       25554.60       25360.00
2     2018-01-03       25550.00       25432.80
3     2018-01-04       25573.30       25436.30
4     2018-01-05       25720.00       25575.00
...          ...            ...            ...
1880  2023-02-24       40841.55       40308.05
1881  2023-02-25            NaN            NaN
1882  2023-02-26            NaN            NaN
1883  2023-02-27       40815.00       40228.05
1884  2023-02-28       40900.00       40513.00

[1885 rows x 3 columns]

####should i plot it??

In [63]:
df = resampled_df.copy()
df = pd.DataFrame(resampled_df)

df['DateTime'] = pd.to_datetime(df['Date'] + ' ' + df['Time'], format='%d-%m-%Y %H:%M:%S')
df.set_index('DateTime', inplace=True)

def calculate_vah_val(df_day):
    total_volume = df_day['Volume'].sum()
    volume_threshold = 0.7 * total_volume #Here i have considered 70%

    df_day['midpoint'] = (df_day['High'] + df_day['Low']) / 2   # Calculating the midpoint for each row
    df_sorted = df_day.sort_values(by='midpoint', ascending=False)

    cumulative_volume = 0
    VAH = None
    VAL = None

    # Accumulate volume and find VAH and VAL
    for index, row in df_sorted.iterrows():
        cumulative_volume += row['Volume']
        if cumulative_volume >= volume_threshold:
            VAL = row['midpoint']
            break

    # The highest price in the sorted DataFrame is VAH
    VAH = df_sorted.iloc[0]['midpoint']
    return pd.Series({'VAH': VAH, 'VAL': VAL})

result = df.groupby(df.index.date).apply(calculate_vah_val)
result

                  VAH       VAL
2018-01-01  25660.200  25545.30
2018-01-02  25529.000  25422.45
2018-01-03  25544.500  25488.90
2018-01-04  25565.700  25510.00
2018-01-05  25711.500  25624.95
...               ...       ...
2023-02-24  40783.300  40425.00
2023-02-25        NaN       NaN
2023-02-26        NaN       NaN
2023-02-27  40805.650  40558.50
2023-02-28  40813.525  40695.00

[1885 rows x 2 columns]