<a href="https://colab.research.google.com/github/naga-dheeraj-p/Assignments/blob/main/Quant_Final_edited_ready.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Options

In [110]:
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [111]:
import glob
import csv
import os
import time

start = time.time()

path = "/content/gdrive/MyDrive/bank_nifty data/csv"
all_files = glob.glob(os.path.join(path, "*.csv"))
cols = ['time', 'symbol', 'open', 'high', 'low', 'close', 'volume', 'oi', 'expiry', 'strike', 'instrument_type', 'Date']

output_file = 'dataset.csv'
with open(output_file, 'w', newline='') as out:
    writer = csv.writer(out)
    writer.writerow(cols)

for file in all_files:
    date = os.path.basename(file).split('.')[0]
    year = date[-6:]
    if year == '012019':
        with open(file, 'r') as f, open(output_file, 'a', newline='') as out:
            reader = csv.reader(f)
            writer = csv.writer(out)
            next(reader)  # Skip the header row
            for row in reader:
                row.append(date)
                writer.writerow(row)

end = time.time()
print("Execution time:", end - start)

Execution time: 3.5827531814575195

In [112]:
'''import glob
import csv
import os
import time

start = time.time()

path = "/content/gdrive/MyDrive/bank_nifty data/csv"
all_files = glob.glob(os.path.join(path, "*.csv"))
cols = ['time', 'symbol', 'open', 'high', 'low', 'close', 'volume', 'oi', 'expiry', 'strike', 'instrument_type', 'Date']

output_file = 'dataset.csv'
with open(output_file, 'w', newline='') as out:
    writer = csv.writer(out)
    writer.writerow(cols)

for file in all_files:
    date = os.path.basename(file).split('.')[0]
    year = int(date[-6:])
    if year == 012018:
        with open(file, 'r') as f, open(output_file, 'a', newline='') as out:
            reader = csv.reader(f)
            writer = csv.writer(out)
            next(reader)  # Skip the header row
            for row in reader:
                row.append(date)
                writer.writerow(row)

end = time.time()
print("Execution time:", end - start)'''

'import glob\nimport csv\nimport os\nimport time\n\nstart = time.time()\n\npath = "/content/gdrive/MyDrive/bank_nifty data/csv"\nall_files = glob.glob(os.path.join(path, "*.csv"))\ncols = [\'time\', \'symbol\', \'open\', \'high\', \'low\', \'close\', \'volume\', \'oi\', \'expiry\', \'strike\', \'instrument_type\', \'Date\']\n\noutput_file = \'dataset.csv\'\nwith open(output_file, \'w\', newline=\'\') as out:\n    writer = csv.writer(out)\n    writer.writerow(cols)\n\nfor file in all_files:\n    date = os.path.basename(file).split(\'.\')[0]\n    year = int(date[-6:])\n    if year == 012018:\n        with open(file, \'r\') as f, open(output_file, \'a\', newline=\'\') as out:\n            reader = csv.reader(f)\n            writer = csv.writer(out)\n            next(reader)  # Skip the header row\n            for row in reader:\n                row.append(date)\n                writer.writerow(row)\n\nend = time.time()\nprint("Execution time:", end - start)'

In [113]:
import pandas as pd
data1=pd.read_csv("/content/dataset.csv")
print(data1.shape)
data1.tail()

(705980, 12)

,time,symbol,open,high,low,close,volume,oi,expiry,strike,instrument_type,Date
705975,15:16:00,BANKNIFTY31JAN1929300CE,0.1,0.1,0.1,0.1,160,2020,31-01-2019,29300,CE,31012019
705976,12:46:00,BANKNIFTY31JAN1929300PE,2300.0,2300.0,2300.0,2300.0,20,280,31-01-2019,29300,PE,31012019
705977,12:55:00,BANKNIFTY31JAN1929300PE,2300.0,2300.0,2275.0,2275.0,20,260,31-01-2019,29300,PE,31012019
705978,13:07:00,BANKNIFTY31JAN1929300PE,2275.0,2275.0,2250.0,2250.0,20,240,31-01-2019,29300,PE,31012019
705979,15:16:00,BANKNIFTY31JAN1929300PE,2250.0,2250.0,1980.0,1980.0,160,220,31-01-2019,29300,PE,31012019

In [114]:
import pandas as pd
def preprocess_date(date_string):
    date_str = str(date_string)
    if len(date_str) == 8:
        # If the date string is in the format 'DDMMYYYY', convert it to 'DD-MM-YYYY'
        return date_str[:2] + '-' + date_str[2:4] + '-' + date_str[4:]
    else:
        date_str = '0' + date_str
        return date_str[:2] + '-' + date_str[2:4] + '-' + date_str[4:]
data1['Preprocessed_Date'] = data1['Date'].apply(preprocess_date)

In [115]:
sorted_data = data1.sort_values(by=['Preprocessed_Date', 'instrument_type', 'strike', 'time']).reset_index(drop=True)
sorted_data.head(60)

,time,symbol,open,high,low,close,volume,oi,expiry,strike,instrument_type,Date,Preprocessed_Date
0,09:24:00,BANKNIFTY31JAN1923000CE,4193.30,4193.30,4192.55,4192.55,40,16080,31-01-2019,23000,CE,1012019,01-01-2019
1,09:39:00,BANKNIFTY31JAN1923000CE,4192.55,4192.55,4173.40,4173.40,40,16080,31-01-2019,23000,CE,1012019,01-01-2019
2,09:40:00,BANKNIFTY31JAN1923000CE,4173.40,4176.00,4173.40,4176.00,60,16080,31-01-2019,23000,CE,1012019,01-01-2019
3,09:41:00,BANKNIFTY31JAN1923000CE,4176.00,4180.85,4176.00,4180.85,80,16080,31-01-2019,23000,CE,1012019,01-01-2019
4,11:04:00,BANKNIFTY31JAN1923000CE,4180.85,4184.95,4180.85,4184.95,40,15900,31-01-2019,23000,CE,1012019,01-01-2019
5,11:18:00,BANKNIFTY31JAN1923000CE,4184.95,4192.00,4184.95,4192.00,60,15860,31-01-2019,23000,CE,1012019,01-01-2019
6,14:29:00,BANKNIFTY31JAN1923000CE,4192.00,4261.25,4192.00,4261.25,40,15800,31-01-2019,23000,CE,1012019,01-01-2019
7,14:31:00,BANKNIFTY31JAN1923000CE,4261.25,4299.00,4261.25,4299.00,80,15800,31-01-2019,23000,CE,1012019,01-01-2019
8,15:02:00,BANKNIFTY31JAN1923000CE,4299.00,4420.00,4299.00,4420.00,200,15800,31-01-2019,23000,CE,1012019,01-01-2019
9,15:09:00,BANKNIFTY31JAN1923000CE,4420.00,4450.00,4420.00,4450.00,80,16000,31-01-2019,23000,CE,1012019,01-01-2019
10,09:24:00,BANKNIFTY03JAN1924000CE,3103.00,3103.00,3103.00,3103.00,20,240,03-01-2019,24000,CE,1012019,01-01-2019
11,09:24:00,BANKNIFTY31JAN1924000CE,3211.50,3211.50,3210.50,3210.50,40,16060,31-01-2019,24000,CE,1012019,01-01-2019
12,10:01:00,BANKNIFTY31JAN1924000CE,3210.50,3210.50,3150.00,3150.00,40,16060,31-01-2019,24000,CE,1012019,01-01-2019
13,10:25:00,BANKNIFTY31JAN1924000CE,3150.00,3152.65,3150.00,3152.65,40,16020,31-01-2019,24000,CE,1012019,01-01-2019
14,10:26:00,BANKNIFTY31JAN1924000CE,3152.65,3152.65,3152.55,3152.55,80,16020,31-01-2019,24000,CE,1012019,01-01-2019
15,10:53:00,BANKNIFTY03JAN1924000CE,3103.00,3103.00,3097.40,3097.40,20,240,03-01-2019,24000,CE,1012019,01-01-2019
16,11:01:00,BANKNIFTY03JAN1924000CE,3097.40,3097.40,3063.05,3063.05,20,240,03-01-2019,24000,CE,1012019,01-01-2019
17,13:35:00,BANKNIFTY31JAN1924000CE,3152.55,3152.55,3150.00,3150.00,20,16140,31-01-2019,24000,CE,1012019,01-01-2019
18,14:41:00,BANKNIFTY31JAN1924000CE,3150.00,3376.80,3150.00,3376.80,20,16120,31-01-2019,24000,CE,1012019,01-01-2019
19,14:42:00,BANKNIFTY31JAN1924000CE,3376.80,3377.30,3376.80,3377.30,20,16120,31-01-2019,24000,CE,1012019,01-01-2019
20,15:03:00,BANKNIFTY31JAN1924000CE,3377.30,3450.00,3377.30,3450.00,20,16160,31-01-2019,24000,CE,1012019,01-01-2019
21,15:04:00,BANKNIFTY31JAN1924000CE,3450.00,3460.00,3450.00,3460.00,20,16160,31-01-2019,24000,CE,1012019,01-01-2019
22,09:24:00,BANKNIFTY31JAN1924500CE,2740.00,2740.00,2721.05,2721.05,60,22180,31-01-2019,24500,CE,1012019,01-01-2019
23,12:06:00,BANKNIFTY03JAN1924500CE,2680.15,2680.15,2680.15,2680.15,20,1520,03-01-2019,24500,CE,1012019,01-01-2019
24,12:27:00,BANKNIFTY03JAN1924500CE,2680.15,2680.15,2582.05,2582.05,20,1520,03-01-2019,24500,CE,1012019,01-01-2019
25,14:44:00,BANKNIFTY31JAN1924500CE,2721.05,2929.00,2721.05,2929.00,20,22160,31-01-2019,24500,CE,1012019,01-01-2019
26,09:21:00,BANKNIFTY03JAN1925000CE,2165.70,2165.70,2165.70,2165.70,20,4840,03-01-2019,25000,CE,1012019,01-01-2019
27,09:24:00,BANKNIFTY03JAN1925000CE,2165.70,2165.70,2119.10,2119.10,20,4840,03-01-2019,25000,CE,1012019,01-01-2019
28,09:24:00,BANKNIFTY31JAN1925000CE,2236.65,2236.65,2232.05,2232.05,60,24780,31-01-2019,25000,CE,1012019,01-01-2019
29,09:33:00,BANKNIFTY31JAN1925000CE,2232.05,2232.05,2207.70,2207.70,40,24780,31-01-2019,25000,CE,1012019,01-01-2019
30,09:35:00,BANKNIFTY03JAN1925000CE,2119.10,2119.10,2096.95,2096.95,20,4840,03-01-2019,25000,CE,1012019,01-01-2019
31,09:50:00,BANKNIFTY03JAN1925000CE,2096.95,2110.00,2096.95,2110.00,20,4820,03-01-2019,25000,CE,1012019,01-01-2019
32,09:50:00,BANKNIFTY31JAN1925000CE,2207.70,2211.65,2207.70,2211.65,20,24820,31-01-2019,25000,CE,1012019,01-01-2019
33,09:51:00,BANKNIFTY03JAN1925000CE,2110.00,2110.00,2106.75,2106.75,20,4820,03-01-2019,25000,CE,1012019,01-01-2019
34,09:51:00,BANKNIFTY31JAN1925000CE,2211.65,2211.65,2203.15,2203.15,20,24820,31-01-2019,25000,CE,1012019,01-01-2019
35,10:12:00,BANKNIFTY31JAN1925000CE,2203.15,2203.15,2201.80,2201.80,20,24860,31-01-2019,25000,CE,1012019,01-01-2019
36,10:32:00,BANKNIFTY31JAN1925000CE,2201.80,2213.45,2201.80,2213.45,20,24840,31-01-2019,25000,CE,1012019,01-01-2019
37,10:53:00,BANKNIFTY31JAN1925000CE,2213.45,2213.45,2200.00,2200.00,20,24820,31-01-2019,25000,CE,1012019,01-01-2019
38,12:27:00,BANKNIFTY31JAN1925000CE,2200.00,2213.30,2200.00,2213.30,20,24800,31-01-2019,25000,CE,1012019,01-01-2019
39,12:31:00,BANKNIFTY31JAN1925000CE,2213.30,2213.30,2200.00,2200.00,20,24820,31-01-2019,25000,CE,1012019,01-01-2019
40,13:35:00,BANKNIFTY31JAN1925000CE,2200.00,2200.00,2186.35,2186.35,20,24800,31-01-2019,25000,CE,1012019,01-01-2019
41,13:38:00,BANKNIFTY31JAN1925000CE,2186.35,2186.35,2159.60,2159.60,20,24800,31-01-2019,25000,CE,1012019,01-01-2019
42,13:53:00,BANKNIFTY31JAN1925000CE,2159.60,2181.75,2159.60,2181.75,80,24800,31-01-2019,25000,CE,1012019,01-01-2019
43,13:54:00,BANKNIFTY31JAN1925000CE,2181.75,2181.75,2178.80,2178.80,20,24800,31-01-2019,25000,CE,1012019,01-01-2019
44,14:29:00,BANKNIFTY31JAN1925000CE,2178.80,2310.95,2178.80,2310.95,60,24700,31-01-2019,25000,CE,1012019,01-01-2019
45,14:31:00,BANKNIFTY31JAN1925000CE,2310.95,2328.05,2310.95,2328.05,20,24720,31-01-2019,25000,CE,1012019,01-01-2019
46,14:34:00,BANKNIFTY31JAN1925000CE,2350.20,2350.20,2328.05,2350.20,20,24740,31-01-2019,25000,CE,1012019,01-01-2019
47,14:53:00,BANKNIFTY31JAN1925000CE,2350.20,2436.70,2350.20,2436.70,20,24740,31-01-2019,25000,CE,1012019,01-01-2019
48,15:04:00,BANKNIFTY31JAN1925000CE,2436.70,2480.00,2436.70,2480.00,20,24740,31-01-2019,25000,CE,1012019,01-01-2019
49,15:05:00,BANKNIFTY31JAN1925000CE,2480.00,2487.70,2480.00,2487.70,20,24740,31-01-2019,25000,CE,1012019,01-01-2019
50,15:08:00,BANKNIFTY31JAN1925000CE,2487.70,2487.70,2479.75,2479.75,20,24760,31-01-2019,25000,CE,1012019,01-01-2019
51,15:09:00,BANKNIFTY31JAN1925000CE,2479.75,2482.20,2479.75,2482.20,20,24760,31-01-2019,25000,CE,1012019,01-01-2019
52,15:15:00,BANKNIFTY31JAN1925000CE,2482.20,2490.55,2482.20,2490.55,20,24760,31-01-2019,25000,CE,1012019,01-01-2019
53,15:21:00,BANKNIFTY31JAN1925000CE,2490.55,2500.00,2490.55,2500.00,20,24760,31-01-2019,25000,CE,1012019,01-01-2019
54,15:23:00,BANKNIFTY31JAN1925000CE,2500.00,2510.35,2500.00,2510.35,40,24740,31-01-2019,25000,CE,1012019,01-01-2019
55,15:24:00,BANKNIFTY31JAN1925000CE,2510.35,2516.75,2510.35,2516.75,40,24740,31-01-2019,25000,CE,1012019,01-01-2019
56,15:25:00,BANKNIFTY31JAN1925000CE,2516.75,2516.75,2514.15,2514.15,120,24780,31-01-2019,25000,CE,1012019,01-01-2019
57,09:19:00,BANKNIFTY31JAN1925500CE,1820.40,1820.40,1820.40,1820.40,20,21240,31-01-2019,25500,CE,1012019,01-01-2019
58,09:24:00,BANKNIFTY03JAN1925500CE,1650.00,1650.00,1650.00,1650.00,20,960,03-01-2019,25500,CE,1012019,01-01-2019
59,09:24:00,BANKNIFTY31JAN1925500CE,1820.40,1820.40,1773.30,1773.30,80,21220,31-01-2019,25500,CE,1012019,01-01-2019

In [116]:
import pandas as pd
import numpy as np

data = sorted_data.copy()  # Made a copy to avoid modifying original data
data['time'] = pd.to_datetime(data['time'])

time_range = pd.date_range(start='09:15:00', end='15:30:00', freq='5T')
expanded_data = pd.DataFrame()

grouped_data = data.groupby(['Preprocessed_Date', 'instrument_type'])


for (Preprocessed_Date, instrument_type), subset in grouped_data:
    # Group the subset by strike and resample each group to 5-minute intervals
    resampled_subset = subset.set_index('time').groupby('strike').resample('5T').agg({
        'open': 'first',
        'high': 'max',
        'low': 'min',
        'close': 'last',
        'volume': 'sum',
        'oi': 'last'
    }).reset_index(level='strike')

    # Forward filling
    resampled_subset[['high', 'low']] = resampled_subset[['high', 'low']].ffill()
    # Interpolating
    resampled_subset[['volume', 'oi']] = resampled_subset[['volume', 'oi']].replace(0, np.nan)
    resampled_subset[['volume', 'oi']] = resampled_subset[['volume', 'oi']].interpolate(method='linear')
    resampled_subset[['volume', 'oi']] = resampled_subset[['volume', 'oi']].fillna(0).round(2)
    resampled_subset[['open', 'close']] = resampled_subset[['open', 'close']].interpolate(method='linear').round(2)

    resampled_subset.reset_index(inplace=True)

    for col in ['symbol', 'expiry']:
        resampled_subset[col] = subset[col].iloc[0]

    resampled_subset['Preprocessed_Date'] = Preprocessed_Date
    resampled_subset['instrument_type'] = instrument_type
    expanded_data = pd.concat([expanded_data, resampled_subset], ignore_index=True)

expanded_data.sort_values(by=['Preprocessed_Date', 'instrument_type', 'strike', 'time'], inplace=True)
expanded_data.reset_index(drop=True, inplace=True)
expanded_data['time'] = pd.to_datetime(expanded_data['time']).dt.time

<ipython-input-116-54d6af9e359d>:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data['time'] = pd.to_datetime(data['time'])

In [117]:
expanded_data

,time,strike,open,high,low,close,volume,oi,symbol,expiry,Preprocessed_Date,instrument_type
0,09:20:00,23000,4193.30,4193.30,4192.55,4192.55,40.00,16080.0,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE
1,09:25:00,23000,4193.05,4193.30,4192.55,4186.17,40.00,16080.0,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE
2,09:30:00,23000,4192.80,4193.30,4192.55,4179.78,40.00,16080.0,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE
3,09:35:00,23000,4192.55,4192.55,4173.40,4173.40,40.00,16080.0,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE
4,09:40:00,23000,4173.40,4180.85,4173.40,4180.85,140.00,16080.0,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE
...,...,...,...,...,...,...,...,...,...,...,...,...
133888,14:55:00,29300,1979.95,1999.90,1960.00,1959.95,140.00,980.0,BANKNIFTY31JAN1922800PE,31-01-2019,31-01-2019,PE
133889,15:00:00,29300,1986.60,1999.90,1960.00,1946.63,146.67,1000.0,BANKNIFTY31JAN1922800PE,31-01-2019,31-01-2019,PE
133890,15:05:00,29300,1993.25,1999.90,1960.00,1933.32,153.33,1020.0,BANKNIFTY31JAN1922800PE,31-01-2019,31-01-2019,PE
133891,15:10:00,29300,1999.90,1999.90,1920.00,1920.00,160.00,1040.0,BANKNIFTY31JAN1922800PE,31-01-2019,31-01-2019,PE
133892,15:15:00,29300,2250.00,2250.00,1920.00,1950.00,260.00,1200.0,BANKNIFTY31JAN1922800PE,31-01-2019,31-01-2019,PE

In [118]:
import pandas as pd
import os
from datetime import datetime

directory_path = '/content/gdrive/MyDrive/Fut_data'
data_list = []

for filename in os.listdir(directory_path):
    if filename.endswith('.csv'):
        try:
            date_str = filename.split('.')[0]  # Assuming the filename is like 'DDMMYYYY.csv'
            date_obj = datetime.strptime(date_str, '%d%m%Y')
            formatted_date = date_obj.strftime('%d-%m-%Y')
        except ValueError:
            print(f'{filename}: Filename does not match expected date format')
            continue
        if date_obj.year==2019:                                                                                   #change here!!!!!!!!!!!!!!!!!!!!!!!!
        #if date_obj.year==2019 and date_obj.month==01:
            file_path = os.path.join(directory_path, filename)
            df = pd.read_csv(file_path)

            # Considering ATM value from the first row
            if 'open' in df.columns:
                atm_value = df['open'].iloc[0]
                # Appending the formatted date and the ATM value to the data list
                data_list.append((formatted_date, atm_value))
            else:
                print(f'{formatted_date}: "open" column not found')

data_list.sort(key=lambda x: datetime.strptime(x[0], '%d-%m-%Y'))
for formatted_date, atm_value in data_list:
    print(f'{formatted_date}: ATM = {atm_value}')

01-01-2019: ATM = 27300.2
02-01-2019: ATM = 27410.3
03-01-2019: ATM = 27260.0
04-01-2019: ATM = 27169.0
07-01-2019: ATM = 27555.0
08-01-2019: ATM = 27388.4
09-01-2019: ATM = 27752.2
10-01-2019: ATM = 27720.3
11-01-2019: ATM = 27675.0
14-01-2019: ATM = 27465.0
15-01-2019: ATM = 27410.6
16-01-2019: ATM = 27534.0
17-01-2019: ATM = 27562.3
18-01-2019: ATM = 27649.9
21-01-2019: ATM = 27560.05
22-01-2019: ATM = 27521.25
23-01-2019: ATM = 27462.0
24-01-2019: ATM = 27300.0
25-01-2019: ATM = 27378.0
28-01-2019: ATM = 27090.0
29-01-2019: ATM = 26620.25
30-01-2019: ATM = 26888.0
31-01-2019: ATM = 26972.0
01-02-2019: ATM = 27331.0
04-02-2019: ATM = 26991.0
05-02-2019: ATM = 27270.1
06-02-2019: ATM = 27400.05
07-02-2019: ATM = 27350.0
08-02-2019: ATM = 27376.6
11-02-2019: ATM = 27300.05
12-02-2019: ATM = 27238.7
13-02-2019: ATM = 27200.0
14-02-2019: ATM = 26967.5
15-02-2019: ATM = 27070.05
18-02-2019: ATM = 26780.0
19-02-2019: ATM = 26750.0
20-02-2019: ATM = 26804.0
21-02-2019: ATM = 27059.9
22-02-2019: ATM = 27049.9
25-02-2019: ATM = 26975.3
26-02-2019: ATM = 26830.0
27-02-2019: ATM = 27049.85
28-02-2019: ATM = 26884.0
01-03-2019: ATM = 27061.05
05-03-2019: ATM = 27053.25
06-03-2019: ATM = 27655.55
07-03-2019: ATM = 27740.0
08-03-2019: ATM = 27774.9
11-03-2019: ATM = 28018.5
12-03-2019: ATM = 28240.0
13-03-2019: ATM = 28511.5
14-03-2019: ATM = 29055.55
15-03-2019: ATM = 29078.75
18-03-2019: ATM = 29605.05
19-03-2019: ATM = 29800.0
20-03-2019: ATM = 29819.95
22-03-2019: ATM = 30000.4
25-03-2019: ATM = 29410.0
26-03-2019: ATM = 29321.0
27-03-2019: ATM = 30109.95
28-03-2019: ATM = 30055.0
29-03-2019: ATM = 30600.0
01-04-2019: ATM = 30594.9
02-04-2019: ATM = 30501.1
03-04-2019: ATM = 30626.35
04-04-2019: ATM = 30349.95
05-04-2019: ATM = 30205.25
08-04-2019: ATM = 30405.85
09-04-2019: ATM = 30030.05
10-04-2019: ATM = 30200.35
11-04-2019: ATM = 29948.85
12-04-2019: ATM = 29925.0
15-04-2019: ATM = 30098.1
16-04-2019: ATM = 30300.75
18-04-2019: ATM = 30675.0
22-04-2019: ATM = 30200.0
23-04-2019: ATM = 29784.9
24-04-2019: ATM = 29549.4
25-04-2019: ATM = 29889.95
26-04-2019: ATM = 29851.1
30-04-2019: ATM = 30049.95
02-05-2019: ATM = 29785.0
03-05-2019: ATM = 29878.75
06-05-2019: ATM = 29689.4
07-05-2019: ATM = 29915.0
08-05-2019: ATM = 29288.95
09-05-2019: ATM = 29030.0
10-05-2019: ATM = 28975.0
13-05-2019: ATM = 29029.9
14-05-2019: ATM = 28751.0
15-05-2019: ATM = 29060.05
16-05-2019: ATM = 28639.95
17-05-2019: ATM = 28934.95
20-05-2019: ATM = 30185.05
21-05-2019: ATM = 30860.0
22-05-2019: ATM = 30425.05
23-05-2019: ATM = 30900.0
24-05-2019: ATM = 30750.05
27-05-2019: ATM = 31229.95
28-05-2019: ATM = 31676.75
29-05-2019: ATM = 31565.05
30-05-2019: ATM = 31280.0
31-05-2019: ATM = 31710.05
03-06-2019: ATM = 31326.85
04-06-2019: ATM = 31597.95
06-06-2019: ATM = 31599.95
07-06-2019: ATM = 31018.0
10-06-2019: ATM = 31296.3
11-06-2019: ATM = 31200.0
12-06-2019: ATM = 31220.0
13-06-2019: ATM = 30888.0
14-06-2019: ATM = 30955.1
17-06-2019: ATM = 30599.0
18-06-2019: ATM = 30349.95
19-06-2019: ATM = 30506.35
20-06-2019: ATM = 30377.85
21-06-2019: ATM = 30699.95
24-06-2019: ATM = 30675.05
25-06-2019: ATM = 30589.95
26-06-2019: ATM = 30790.0
27-06-2019: ATM = 31250.05
28-06-2019: ATM = 31333.4
01-07-2019: ATM = 31400.25
02-07-2019: ATM = 31530.05
03-07-2019: ATM = 31410.0
04-07-2019: ATM = 31525.6
05-07-2019: ATM = 31568.95
08-07-2019: ATM = 31310.0
09-07-2019: ATM = 30606.0
10-07-2019: ATM = 30669.95
11-07-2019: ATM = 30699.0
12-07-2019: ATM = 30747.95
15-07-2019: ATM = 30697.5
16-07-2019: ATM = 30510.05
17-07-2019: ATM = 30574.0
18-07-2019: ATM = 30686.95
19-07-2019: ATM = 30520.0
22-07-2019: ATM = 29650.0
23-07-2019: ATM = 29414.9
24-07-2019: ATM = 29150.75
25-07-2019: ATM = 28998.45
26-07-2019: ATM = 29265.5
29-07-2019: ATM = 29645.9
30-07-2019: ATM = 29500.05
31-07-2019: ATM = 28685.0
01-08-2019: ATM = 28805.65
02-08-2019: ATM = 28244.4
05-08-2019: ATM = 27825.0
06-08-2019: ATM = 27651.1
07-08-2019: ATM = 28098.9
08-08-2019: ATM = 27813.1
09-08-2019: ATM = 28400.05
13-08-2019: ATM = 28399.95
14-08-2019: ATM = 27850.15
16-08-2019: ATM = 27950.0
19-08-2019: ATM = 28335.1
20-08-2019: ATM = 28220.25
21-08-2019: ATM = 28050.3
22-08-2019: ATM = 27715.0
23-08-2019: ATM = 26895.0
26-08-2019: ATM = 27624.4
27-08-2019: ATM = 28090.0
28-08-2019: ATM = 28085.25
29-08-2019: ATM = 27749.9
30-08-2019: ATM = 27501.15
03-09-2019: ATM = 27321.05
04-09-2019: ATM = 26824.35
05-09-2019: ATM = 27160.05
06-09-2019: ATM = 27025.05
09-09-2019: ATM = 27200.0
11-09-2019: ATM = 27660.55
12-09-2019: ATM = 27855.65
13-09-2019: ATM = 27749.95
16-09-2019: ATM = 27801.55
17-09-2019: ATM = 27799.9
18-09-2019: ATM = 27325.05
19-09-2019: ATM = 27175.0
20-09-2019: ATM = 26859.95
23-09-2019: ATM = 29996.5
24-09-2019: ATM = 30514.0
25-09-2019: ATM = 30073.95
26-09-2019: ATM = 29678.65
27-09-2019: ATM = 30201.0
30-09-2019: ATM = 29890.05
01-10-2019: ATM = 29440.0
03-10-2019: ATM = 28655.1
04-10-2019: ATM = 28801.05
07-10-2019: ATM = 27950.0
09-10-2019: ATM = 27870.0
10-10-2019: ATM = 28690.0
11-10-2019: ATM = 28300.0
14-10-2019: ATM = 28317.95
15-10-2019: ATM = 28300.0
16-10-2019: ATM = 28720.25
17-10-2019: ATM = 28530.5
18-10-2019: ATM = 29029.6
22-10-2019: ATM = 29397.0
23-10-2019: ATM = 29400.0
24-10-2019: ATM = 29625.0
25-10-2019: ATM = 29280.1
27-10-2019: ATM = 29638.0
29-10-2019: ATM = 29550.4
30-10-2019: ATM = 30015.4
31-10-2019: ATM = 30100.15
01-11-2019: ATM = 30200.05
04-11-2019: ATM = 30457.95
05-11-2019: ATM = 30420.05
06-11-2019: ATM = 30260.3
07-11-2019: ATM = 30801.0
08-11-2019: ATM = 30630.0
11-11-2019: ATM = 30700.0
13-11-2019: ATM = 31083.95
14-11-2019: ATM = 30580.0
15-11-2019: ATM = 30902.2
18-11-2019: ATM = 31152.0
19-11-2019: ATM = 31059.95
20-11-2019: ATM = 31350.0
21-11-2019: ATM = 31299.95
22-11-2019: ATM = 31248.2
25-11-2019: ATM = 31080.1
26-11-2019: ATM = 31620.1
27-11-2019: ATM = 31738.6
28-11-2019: ATM = 31874.25
29-11-2019: ATM = 32100.5
02-12-2019: ATM = 32079.95
03-12-2019: ATM = 31949.9
04-12-2019: ATM = 31624.95
05-12-2019: ATM = 32110.0
06-12-2019: ATM = 31799.95
09-12-2019: ATM = 31374.9
10-12-2019: ATM = 31440.1
11-12-2019: ATM = 31208.3
12-12-2019: ATM = 31406.3
13-12-2019: ATM = 31860.45
16-12-2019: ATM = 32197.65
17-12-2019: ATM = 32100.1
18-12-2019: ATM = 32310.05
19-12-2019: ATM = 32300.0
20-12-2019: ATM = 32227.0
23-12-2019: ATM = 32349.95
24-12-2019: ATM = 32304.95
26-12-2019: ATM = 32269.95
27-12-2019: ATM = 32250.1
30-12-2019: ATM = 32632.45
31-12-2019: ATM = 32478.7

In [119]:
data_list.sort(key=lambda x: datetime.strptime(x[0], '%d-%m-%Y'))
atm_dict = dict(data_list)
# Function to map preprocessed date to ATM value
def get_atm(date):
    return atm_dict.get(date, None)

# Adding a new column 'ATM' using the mapping function
expanded_data['atm'] = expanded_data['Preprocessed_Date'].apply(get_atm)
expanded_data

,time,strike,open,high,low,close,volume,oi,symbol,expiry,Preprocessed_Date,instrument_type,atm
0,09:20:00,23000,4193.30,4193.30,4192.55,4192.55,40.00,16080.0,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
1,09:25:00,23000,4193.05,4193.30,4192.55,4186.17,40.00,16080.0,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
2,09:30:00,23000,4192.80,4193.30,4192.55,4179.78,40.00,16080.0,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
3,09:35:00,23000,4192.55,4192.55,4173.40,4173.40,40.00,16080.0,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
4,09:40:00,23000,4173.40,4180.85,4173.40,4180.85,140.00,16080.0,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
133888,14:55:00,29300,1979.95,1999.90,1960.00,1959.95,140.00,980.0,BANKNIFTY31JAN1922800PE,31-01-2019,31-01-2019,PE,26972.0
133889,15:00:00,29300,1986.60,1999.90,1960.00,1946.63,146.67,1000.0,BANKNIFTY31JAN1922800PE,31-01-2019,31-01-2019,PE,26972.0
133890,15:05:00,29300,1993.25,1999.90,1960.00,1933.32,153.33,1020.0,BANKNIFTY31JAN1922800PE,31-01-2019,31-01-2019,PE,26972.0
133891,15:10:00,29300,1999.90,1999.90,1920.00,1920.00,160.00,1040.0,BANKNIFTY31JAN1922800PE,31-01-2019,31-01-2019,PE,26972.0
133892,15:15:00,29300,2250.00,2250.00,1920.00,1950.00,260.00,1200.0,BANKNIFTY31JAN1922800PE,31-01-2019,31-01-2019,PE,26972.0

In [120]:
df_opt = pd.DataFrame(expanded_data)

df_opt['time'] = df_opt['time'].astype(str)
df_opt['datetime'] = pd.to_datetime(df_opt['Preprocessed_Date'] + ' ' + df_opt['time'], format='%d-%m-%Y %H:%M:%S')
cols = ['datetime'] + [col for col in df_opt if col != 'datetime']
df_opt = df_opt[cols]

In [121]:
df_opt.head(60)

,datetime,time,strike,open,high,low,close,volume,oi,symbol,expiry,Preprocessed_Date,instrument_type,atm
0,2019-01-01 09:20:00,09:20:00,23000,4193.30,4193.30,4192.55,4192.55,40.00,16080.00,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
1,2019-01-01 09:25:00,09:25:00,23000,4193.05,4193.30,4192.55,4186.17,40.00,16080.00,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
2,2019-01-01 09:30:00,09:30:00,23000,4192.80,4193.30,4192.55,4179.78,40.00,16080.00,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
3,2019-01-01 09:35:00,09:35:00,23000,4192.55,4192.55,4173.40,4173.40,40.00,16080.00,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
4,2019-01-01 09:40:00,09:40:00,23000,4173.40,4180.85,4173.40,4180.85,140.00,16080.00,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
5,2019-01-01 09:45:00,09:45:00,23000,4173.87,4180.85,4173.40,4181.11,133.75,16068.75,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
6,2019-01-01 09:50:00,09:50:00,23000,4174.33,4180.85,4173.40,4181.36,127.50,16057.50,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
7,2019-01-01 09:55:00,09:55:00,23000,4174.80,4180.85,4173.40,4181.62,121.25,16046.25,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
8,2019-01-01 10:00:00,10:00:00,23000,4175.26,4180.85,4173.40,4181.88,115.00,16035.00,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
9,2019-01-01 10:05:00,10:05:00,23000,4175.73,4180.85,4173.40,4182.13,108.75,16023.75,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
10,2019-01-01 10:10:00,10:10:00,23000,4176.19,4180.85,4173.40,4182.39,102.50,16012.50,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
11,2019-01-01 10:15:00,10:15:00,23000,4176.66,4180.85,4173.40,4182.64,96.25,16001.25,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
12,2019-01-01 10:20:00,10:20:00,23000,4177.12,4180.85,4173.40,4182.90,90.00,15990.00,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
13,2019-01-01 10:25:00,10:25:00,23000,4177.59,4180.85,4173.40,4183.16,83.75,15978.75,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
14,2019-01-01 10:30:00,10:30:00,23000,4178.06,4180.85,4173.40,4183.41,77.50,15967.50,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
15,2019-01-01 10:35:00,10:35:00,23000,4178.52,4180.85,4173.40,4183.67,71.25,15956.25,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
16,2019-01-01 10:40:00,10:40:00,23000,4178.99,4180.85,4173.40,4183.92,65.00,15945.00,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
17,2019-01-01 10:45:00,10:45:00,23000,4179.45,4180.85,4173.40,4184.18,58.75,15933.75,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
18,2019-01-01 10:50:00,10:50:00,23000,4179.92,4180.85,4173.40,4184.44,52.50,15922.50,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
19,2019-01-01 10:55:00,10:55:00,23000,4180.38,4180.85,4173.40,4184.69,46.25,15911.25,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
20,2019-01-01 11:00:00,11:00:00,23000,4180.85,4184.95,4180.85,4184.95,40.00,15900.00,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
21,2019-01-01 11:05:00,11:05:00,23000,4182.22,4184.95,4180.85,4187.30,46.67,15886.67,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
22,2019-01-01 11:10:00,11:10:00,23000,4183.58,4184.95,4180.85,4189.65,53.33,15873.33,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
23,2019-01-01 11:15:00,11:15:00,23000,4184.95,4192.00,4184.95,4192.00,60.00,15860.00,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
24,2019-01-01 11:20:00,11:20:00,23000,4185.14,4192.00,4184.95,4193.82,59.47,15858.42,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
25,2019-01-01 11:25:00,11:25:00,23000,4185.32,4192.00,4184.95,4195.64,58.95,15856.84,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
26,2019-01-01 11:30:00,11:30:00,23000,4185.51,4192.00,4184.95,4197.47,58.42,15855.26,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
27,2019-01-01 11:35:00,11:35:00,23000,4185.69,4192.00,4184.95,4199.29,57.89,15853.68,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
28,2019-01-01 11:40:00,11:40:00,23000,4185.88,4192.00,4184.95,4201.11,57.37,15852.11,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
29,2019-01-01 11:45:00,11:45:00,23000,4186.06,4192.00,4184.95,4202.93,56.84,15850.53,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
30,2019-01-01 11:50:00,11:50:00,23000,4186.25,4192.00,4184.95,4204.76,56.32,15848.95,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
31,2019-01-01 11:55:00,11:55:00,23000,4186.43,4192.00,4184.95,4206.58,55.79,15847.37,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
32,2019-01-01 12:00:00,12:00:00,23000,4186.62,4192.00,4184.95,4208.40,55.26,15845.79,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
33,2019-01-01 12:05:00,12:05:00,23000,4186.81,4192.00,4184.95,4210.22,54.74,15844.21,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
34,2019-01-01 12:10:00,12:10:00,23000,4186.99,4192.00,4184.95,4212.05,54.21,15842.63,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
35,2019-01-01 12:15:00,12:15:00,23000,4187.18,4192.00,4184.95,4213.87,53.68,15841.05,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
36,2019-01-01 12:20:00,12:20:00,23000,4187.36,4192.00,4184.95,4215.69,53.16,15839.47,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
37,2019-01-01 12:25:00,12:25:00,23000,4187.55,4192.00,4184.95,4217.51,52.63,15837.89,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
38,2019-01-01 12:30:00,12:30:00,23000,4187.73,4192.00,4184.95,4219.34,52.11,15836.32,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
39,2019-01-01 12:35:00,12:35:00,23000,4187.92,4192.00,4184.95,4221.16,51.58,15834.74,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
40,2019-01-01 12:40:00,12:40:00,23000,4188.10,4192.00,4184.95,4222.98,51.05,15833.16,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
41,2019-01-01 12:45:00,12:45:00,23000,4188.29,4192.00,4184.95,4224.80,50.53,15831.58,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
42,2019-01-01 12:50:00,12:50:00,23000,4188.48,4192.00,4184.95,4226.62,50.00,15830.00,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
43,2019-01-01 12:55:00,12:55:00,23000,4188.66,4192.00,4184.95,4228.45,49.47,15828.42,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
44,2019-01-01 13:00:00,13:00:00,23000,4188.85,4192.00,4184.95,4230.27,48.95,15826.84,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
45,2019-01-01 13:05:00,13:05:00,23000,4189.03,4192.00,4184.95,4232.09,48.42,15825.26,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
46,2019-01-01 13:10:00,13:10:00,23000,4189.22,4192.00,4184.95,4233.91,47.89,15823.68,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
47,2019-01-01 13:15:00,13:15:00,23000,4189.40,4192.00,4184.95,4235.74,47.37,15822.11,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
48,2019-01-01 13:20:00,13:20:00,23000,4189.59,4192.00,4184.95,4237.56,46.84,15820.53,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
49,2019-01-01 13:25:00,13:25:00,23000,4189.77,4192.00,4184.95,4239.38,46.32,15818.95,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
50,2019-01-01 13:30:00,13:30:00,23000,4189.96,4192.00,4184.95,4241.20,45.79,15817.37,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
51,2019-01-01 13:35:00,13:35:00,23000,4190.14,4192.00,4184.95,4243.03,45.26,15815.79,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
52,2019-01-01 13:40:00,13:40:00,23000,4190.33,4192.00,4184.95,4244.85,44.74,15814.21,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
53,2019-01-01 13:45:00,13:45:00,23000,4190.52,4192.00,4184.95,4246.67,44.21,15812.63,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
54,2019-01-01 13:50:00,13:50:00,23000,4190.70,4192.00,4184.95,4248.49,43.68,15811.05,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
55,2019-01-01 13:55:00,13:55:00,23000,4190.89,4192.00,4184.95,4250.32,43.16,15809.47,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
56,2019-01-01 14:00:00,14:00:00,23000,4191.07,4192.00,4184.95,4252.14,42.63,15807.89,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
57,2019-01-01 14:05:00,14:05:00,23000,4191.26,4192.00,4184.95,4253.96,42.11,15806.32,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
58,2019-01-01 14:10:00,14:10:00,23000,4191.44,4192.00,4184.95,4255.78,41.58,15804.74,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2
59,2019-01-01 14:15:00,14:15:00,23000,4191.63,4192.00,4184.95,4257.61,41.05,15803.16,BANKNIFTY31JAN1923000CE,31-01-2019,01-01-2019,CE,27300.2

In [122]:
df_new = pd.DataFrame(df_opt)


df_new['datetime'] = pd.to_datetime(df_new['datetime'])
df_new['Preprocessed_Date'] = pd.to_datetime(df_new['Preprocessed_Date'], format='%d-%m-%Y')

# Function to find the nearest strike to ATM for each day
def nearest_strike(group):
    nearest_strike_row = group.loc[(group['strike'] - group['atm']).abs().idxmin()]
    return nearest_strike_row['strike']

# Get the nearest strike for each Preprocessed_Date
nearest_strikes = df_new.groupby('Preprocessed_Date').apply(nearest_strike).reset_index()
nearest_strikes.columns = ['Preprocessed_Date', 'nearest_strike']


merged_df = pd.merge(df_new, nearest_strikes, on='Preprocessed_Date')
filtered_data = merged_df[merged_df['strike'] == merged_df['nearest_strike']]

filtered_data = filtered_data[(filtered_data['datetime'].dt.time >= pd.to_datetime('09:15:00').time()) &
                          (filtered_data['datetime'].dt.time <= pd.to_datetime('15:30:00').time())]

filtered_data = filtered_data.drop(columns='nearest_strike')
filtered_data

,datetime,time,strike,open,high,low,close,volume,oi,symbol,expiry,Preprocessed_Date,instrument_type,atm
1369,2019-01-01 09:15:00,09:15:00,27300,130.10,483.85,99.55,430.00,299060.0,11600.0,BANKNIFTY31JAN1923000CE,31-01-2019,2019-01-01,CE,27300.2
1370,2019-01-01 09:20:00,09:20:00,27300,101.75,433.55,84.00,414.95,322820.0,11680.0,BANKNIFTY31JAN1923000CE,31-01-2019,2019-01-01,CE,27300.2
1371,2019-01-01 09:25:00,09:25:00,27300,85.20,419.95,82.75,419.90,313160.0,11780.0,BANKNIFTY31JAN1923000CE,31-01-2019,2019-01-01,CE,27300.2
1372,2019-01-01 09:30:00,09:30:00,27300,89.15,419.90,75.55,408.95,250740.0,11900.0,BANKNIFTY31JAN1923000CE,31-01-2019,2019-01-01,CE,27300.2
1373,2019-01-01 09:35:00,09:35:00,27300,78.95,418.10,76.65,411.00,155440.0,12180.0,BANKNIFTY31JAN1923000CE,31-01-2019,2019-01-01,CE,27300.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132851,2019-01-31 15:10:00,15:10:00,27000,154.55,343.70,0.20,0.25,334260.0,1523500.0,BANKNIFTY31JAN1922800PE,31-01-2019,2019-01-31,PE,26972.0
132852,2019-01-31 15:15:00,15:15:00,27000,155.65,344.00,0.15,0.15,404120.0,1393820.0,BANKNIFTY31JAN1922800PE,31-01-2019,2019-01-31,PE,26972.0
132853,2019-01-31 15:20:00,15:20:00,27000,152.70,343.00,0.05,0.05,470680.0,1352860.0,BANKNIFTY31JAN1922800PE,31-01-2019,2019-01-31,PE,26972.0
132854,2019-01-31 15:25:00,15:25:00,27000,154.45,347.90,0.05,0.10,326520.0,1186920.0,BANKNIFTY31JAN1922800PE,31-01-2019,2019-01-31,PE,26972.0
132855,2019-01-31 15:30:00,15:30:00,27000,157.00,157.00,157.00,157.00,80.0,315560.0,BANKNIFTY31JAN1922800PE,31-01-2019,2019-01-31,PE,26972.0

In [ ]:
expanded_data['time'] = expanded_data['time'].astype(str)
expanded_data['datetime'] = pd.to_datetime(expanded_data['Preprocessed_Date'] + ' ' + expanded_data['time'], format='%d-%m-%Y %H:%M:%S')

unique_combinations = expanded_data[['Preprocessed_Date', 'time']].drop_duplicates()

results = []

for _, row in unique_combinations.iterrows():
    target_date = row['Preprocessed_Date']
    target_time = row['time']

    # Filter the dataset for the current combination
    filtered_df = expanded_data[(expanded_data['Preprocessed_Date'] == target_date) & (expanded_data['time'] == target_time)]

    strikes = filtered_df['strike'].unique()

    min_total_loss = float('inf')
    max_pain_strike = None

    for strike in strikes:
        total_loss = 0

        for _, option in filtered_df.iterrows():
            if option['instrument_type'] == 'CE':
                if option['strike'] < strike:
                    loss = (strike - option['strike']) * option['oi']
                else:
                    loss = 0
            elif option['instrument_type'] == 'PE':
                if option['strike'] > strike:
                    loss = (option['strike'] - strike) * option['oi']
                else:
                    loss = 0

            total_loss += loss

        if total_loss < min_total_loss:
            min_total_loss = total_loss
            max_pain_strike = strike

    results.append({
        'Preprocessed_Date': target_date,
        'time': target_time,
        'Max_Pain_Strike': max_pain_strike
    })

results_df = pd.DataFrame(results)
expanded_data = pd.merge(expanded_data, results_df, on=['Preprocessed_Date', 'time'], how='left')
expanded_data.rename(columns={'Max_Pain_Strike': 'max_pain_strike'}, inplace=True)

expanded_data

In [ ]:
import pandas as pd

expanded_df = pd.DataFrame(expanded_data)

# Ensure 'Preprocessed_Date' and 'time' are strings
expanded_df['Preprocessed_Date'] = expanded_df['Preprocessed_Date'].astype(str)
expanded_df['time'] = expanded_df['time'].astype(str)

# Combine 'Preprocessed_Date' and 'time' into a single 'datetime' column with explicit format
expanded_df['datetime'] = pd.to_datetime(expanded_df['Preprocessed_Date'] + ' ' + expanded_df['time'], format='%d-%m-%Y %H:%M:%S')

# Group by both 'datetime' and 'strike', then aggregate 'oi'
grouped_df = expanded_df.groupby(['datetime', 'strike']).agg({'oi': 'sum'}).reset_index()

# Get the top 6 most active strikes for each 5-minute interval
top_strikes = grouped_df.groupby('datetime').apply(lambda x: x.nlargest(6, 'oi')).reset_index(drop=True)

# Combine the top strikes into a single string for each datetime
result_df = top_strikes.groupby('datetime')['strike'].apply(lambda x: ', '.join(x.astype(str))).reset_index()
merged_df = pd.merge(expanded_df, result_df, on='datetime', how='left')

# Rename the column to 'most_active_strikes'
merged_df.rename(columns={'strike_y': 'most_active_strikes'}, inplace=True)
if 'strike_x' in merged_df.columns:
    merged_df.drop(columns=['strike_x'], inplace=True)

merged_df

In [ ]:
def calculate_intraday_pcr(df):
    # Ensure 'Preprocessed_Date' and 'time' are strings
    df['Preprocessed_Date'] = df['Preprocessed_Date'].astype(str)
    df['time'] = df['time'].astype(str)

    # Combine 'Preprocessed_Date' and 'time' to ensure 'datetime' is in datetime format
    df['datetime'] = pd.to_datetime(df['Preprocessed_Date'] + ' ' + df['time'], format='%d-%m-%Y %H:%M:%S')

    # Get the unique 5-minute intervals in the data
    time_intervals = df['datetime'].dt.floor('5T').unique()

    for time in time_intervals:
        # Filter data for the current 5-minute interval
        interval_df = df[df['datetime'].dt.floor('5T') == time]

        atm_strike = interval_df['atm'].iloc[0] if not interval_df['atm'].empty else None

        if atm_strike is not None:
            lower_bound = atm_strike - 1000
            upper_bound = atm_strike + 1000
            selected_strikes = interval_df[(interval_df['strike'] >= lower_bound) & (interval_df['strike'] <= upper_bound)]

            total_put_volume = selected_strikes[selected_strikes['instrument_type'] == 'PE']['volume'].sum()
            total_call_volume = selected_strikes[selected_strikes['instrument_type'] == 'CE']['volume'].sum()

            pcr = total_put_volume / total_call_volume if total_call_volume != 0 else None

            # Update the 'intraday_pcr' for the filtered interval data
            df.loc[df['datetime'].dt.floor('5T') == time, 'intraday_pcr'] = pcr

    return df

# Assuming expanded_data is your initial dataset
merged_df = pd.DataFrame(expanded_data)

# Calculate intraday PCR and update the DataFrame
merged_df = calculate_intraday_pcr(expanded_df)

merged_df

In [ ]:
import pandas as pd

def calculate_cumulative_pcr(df):
    # Combine 'Preprocessed_Date' and 'time' to ensure 'time' is in datetime format
    df['datetime'] = pd.to_datetime(df['Preprocessed_Date'] + ' ' + df['time'], format='%d-%m-%Y %H:%M:%S')

    # Initialize cumulative put and call volumes
    cumulative_put_volume = 0
    cumulative_call_volume = 0

    # Get the unique 5-minute intervals in the data
    time_intervals = df['datetime'].dt.floor('5T').unique()

    for time in time_intervals:
        # Filter data for the current 5-minute interval
        interval_df = df[df['datetime'].dt.floor('5T') == time]

        atm_strike = interval_df['atm'].iloc[0] if not interval_df['atm'].empty else None

        if atm_strike is not None:
            lower_bound = atm_strike - 1000
            upper_bound = atm_strike + 1000
            selected_strikes = interval_df[(interval_df['strike'] >= lower_bound) & (interval_df['strike'] <= upper_bound)]

            interval_put_volume = selected_strikes[selected_strikes['instrument_type'] == 'PE']['volume'].sum()
            interval_call_volume = selected_strikes[selected_strikes['instrument_type'] == 'CE']['volume'].sum()

            # Update cumulative volumes
            cumulative_put_volume += interval_put_volume
            cumulative_call_volume += interval_call_volume

            # Calculate cumulative PCR
            cumulative_pcr = cumulative_put_volume / cumulative_call_volume if cumulative_call_volume != 0 else None

            # Update the 'Cumulative_pcr' for the filtered interval data
            df.loc[df['datetime'].dt.floor('5T') == time, 'cumulative_pcr'] = cumulative_pcr

    return df

# Assuming merged_df is your DataFrame after merging the most active strikes
final_merged_df = pd.DataFrame(merged_df)

# Calculate cumulative PCR and update the DataFrame
final_merged_df = calculate_cumulative_pcr(final_merged_df)
final_merged_df

In [ ]:
import pandas as pd

# Assuming expanded_data is your initial dataset
last_final_merged_df = pd.DataFrame(final_merged_df)

# Group by both 'datetime' and 'strike', then aggregate 'oi'
grouped_df = last_final_merged_df.groupby(['datetime', 'strike']).agg({'oi': 'sum'}).reset_index()

# Get the top 6 most active strikes for each 5-minute interval
top_strikes = last_final_merged_df.groupby('datetime').apply(lambda x: x.nlargest(6, 'oi')).reset_index(drop=True)

# Concatenate 'strike' with 'instrument_type'
top_strikes['strike_with_type'] = top_strikes['strike'].astype(str) + top_strikes['instrument_type']

# Combine the top strikes into a single string for each datetime
result_df = top_strikes.groupby('datetime')['strike_with_type'].apply(lambda x: ', '.join(x)).reset_index()

# Merge the result back into the last_final_merged_df
end_df = pd.merge(last_final_merged_df, result_df, on='datetime', how='left')

# Rename the column to 'most_active_strikes'
end_df.rename(columns={'strike_with_type': 'most_active_strikes'}, inplace=True)

# Optionally, drop the redundant columns if they exist
if 'strike_x' in end_df.columns:
    end_df.drop(columns=['strike_x'], inplace=True)

end_df

In [ ]:
df1 = pd.DataFrame(end_df)


df1['datetime'] = pd.to_datetime(df1['datetime'])
df1['Preprocessed_Date'] = pd.to_datetime(df1['Preprocessed_Date'], format='%d-%m-%Y')

# Function to find the nearest strike to ATM for each day
def nearest_strike(group):
    nearest_strike_row = group.loc[(group['strike'] - group['atm']).abs().idxmin()]
    return nearest_strike_row['strike']

# Get the nearest strike for each Preprocessed_Date
nearest_strikes = df1.groupby('Preprocessed_Date').apply(nearest_strike).reset_index()
nearest_strikes.columns = ['Preprocessed_Date', 'nearest_strike']


merged_df = pd.merge(df1, nearest_strikes, on='Preprocessed_Date')
filtered_df = merged_df[merged_df['strike'] == merged_df['nearest_strike']]

filtered_df = filtered_df[(filtered_df['datetime'].dt.time >= pd.to_datetime('09:15:00').time()) &
                          (filtered_df['datetime'].dt.time <= pd.to_datetime('15:30:00').time())]
filtered_df = filtered_df.drop(columns='nearest_strike')
filtered_df

In [ ]:
options_df = filtered_df[filtered_df['instrument_type'].str.contains('ce', case=False, na=False)]
#options_df.drop(columns=['symbol',	'time','open','	high'	,'low',	'close','volume',	'oi'	], inplace=True)
options_df.head()

In [ ]:
#final_opt_df=options_df['datetime','instrument_type','atm','max_pain_strike','intraday_pcr'	,'cumulative_pcr','most_active_strikes']
options_df.columns = options_df.columns.str.strip()

# Select the columns to create final_opt_df
columns_to_select = ['datetime', 'atm', 'max_pain_strike', 'intraday_pcr', 'cumulative_pcr', 'most_active_strikes']
final_opt_df = options_df[columns_to_select]
final_opt_df

# Futures

In [ ]:
import pandas as pd

# Read the data from the CSV file
fut_data = pd.read_csv("/content/gdrive/MyDrive/final_BANKNIFTY_F2.csv")

# Convert 'Date' column to datetime with the format '%Y%m%d'
fut_data['Date'] = pd.to_datetime(fut_data['Date'], format='%Y%m%d')

# Filter out only the data for the year 2018
fut_data_2018 = fut_data[fut_data['Date'].dt.year == 2018]

# Sort the data by 'Date'
fut_data_2018.sort_values(by='Date', inplace=True)

# Convert 'Time' column to datetime time format (assuming time is in HH:MM:SS format)
fut_data_2018['Time'] = pd.to_datetime(fut_data_2018['Time'], format='%H:%M').dt.time

# Define the start and end time for filtering
start_time = pd.to_datetime('09:15:00', format='%H:%M:%S').time()
end_time = pd.to_datetime('15:30:00', format='%H:%M:%S').time()

# Filter the data that occurs within the specified time range
filtered_fut = fut_data_2018[(fut_data_2018['Time'] >= start_time) & (fut_data_2018['Time'] <= end_time)]

# Display the filtered data
filtered_fut

In [ ]:
# Assuming 'filtered_fut' has 'Date' and 'Time' columns
filtered_fut['Time'] = filtered_fut['Time'].astype(str)  # Ensure 'Time' is string type
filtered_fut['Date'] = filtered_fut['Date'].astype(str)
# Create a new string column 'DateTime_str' by combining 'Date' and 'Time'
filtered_fut['DateTime_str'] = filtered_fut['Date'] + ' ' + filtered_fut['Time']

# Convert 'DateTime_str' to datetime using pd.to_datetime with correct format
filtered_fut['datetime'] = pd.to_datetime(filtered_fut['DateTime_str'], format='%Y-%m-%d %H:%M:%S')

# Reorder columns (optional)
cols = ['datetime'] + [col for col in filtered_fut if col != 'datetime']
filtered_fut = filtered_fut[cols]
filtered_fut

In [ ]:
import pandas as pd
df = pd.DataFrame(filtered_fut)
df['Open Interest'] = df['Open Interest'].fillna(0) #Replaced Nan by 0
'''df['Date'] = df['Date'].astype(str)
df['Time'] = df['Time'].astype(str)'''
#df['DateTime'] = pd.to_datetime(df['Date'] + ' ' + df['Time'].astype(str), format='%d-%m-%Y %H:%M:%S', errors='coerce') #Concatenated Date and Time to set a unique index
df = df.set_index('datetime')
df = df.dropna(subset=['Date', 'Time'])
'''all_days = df.index.normalize().unique()
full_range = pd.concat([pd.DataFrame(index=pd.date_range(start=f"{day} 09:16:00", end=f"{day} 15:30:00", freq='1T')) for day in all_days])'''
all_days = df.index.normalize().unique()
full_range = pd.concat([pd.DataFrame(index=pd.date_range(start=f"{day} 09:15:00", end=f"{day} 15:30:00", freq='1T')) for day in all_days])
full_range = full_range.merge(df, how='left', left_index=True, right_index=True)
full_range.fillna(method='ffill', inplace=True)
full_range.reset_index(inplace=True)
full_range.rename(columns={'index': 'DateTime'}, inplace=True)
full_range['Date'] = full_range['DateTime'].dt.strftime('%d-%m-%Y')
full_range['Time'] = full_range['DateTime'].dt.strftime('%H:%M:%S')
full_range = full_range[['Symbol', 'Date', 'Time', 'Open', 'High', 'Low', 'Close', 'Volume', 'Open Interest']]
full_range['DateTime'] = pd.to_datetime(full_range['Date'] + ' ' + full_range['Time'], format='%d-%m-%Y %H:%M:%S')
full_range.set_index('DateTime', inplace=True)

aggregation = {
    'Symbol': 'first',
    'Open': 'first',
    'High': 'max',
    'Low': 'min',
    'Close': 'last',
    'Volume': 'sum',
    'Open Interest': 'last'
}

resampled_df = full_range.resample('5T').apply(aggregation)

# Reset index to split DateTime into Date and Time
resampled_df.reset_index(inplace=True)
resampled_df['Date'] = resampled_df['DateTime'].dt.strftime('%d-%m-%Y')
resampled_df['Time'] = resampled_df['DateTime'].dt.strftime('%H:%M:%S')

resampled_df.drop(columns=['DateTime'], inplace=True)
resampled_df = resampled_df[['Symbol', 'Date', 'Time', 'Open', 'High', 'Low', 'Close', 'Volume', 'Open Interest']]

resampled_df

In [ ]:
 df = pd.DataFrame(resampled_df)

df['DateTime'] = pd.to_datetime(df['Date'].str.strip() + ' ' + df['Time'].str.strip(), format='%d-%m-%Y %H:%M:%S', errors='coerce')
df = df.dropna(subset=['DateTime'])  # Remove rows where DateTime could not be parsed
df.set_index('DateTime', inplace=True)
# Calculate typical price for VWAP
df.loc[:, 'Price'] = (df['High'] + df['Low'] + df['Close']) / 3

# Calculate cumulative values for VWAP
cumulative_price_volume = (df['Price'] * df['Volume']).cumsum()
cumulative_volume = df['Volume'].cumsum()

df.loc[:, 'VWAP'] = cumulative_price_volume / cumulative_volume #Calculating for 1 min

# Aggregate the data into 5-minute intervals
resampled = df.resample('5T').agg({
    'Symbol': 'first',
    'Open': 'first',
    'High': 'max',
    'Low': 'min',
    'Close': 'last',
    'Volume': 'sum',
    'Open Interest': 'last',
    'Price': 'last'
})
# Calculate cumulative values for the resampled data
resampled['Price'] = (resampled['High'] + resampled['Low'] + resampled['Close']) / 3
resampled_cumulative_price_volume = (resampled['Price'] * resampled['Volume']).cumsum()
resampled_cumulative_volume = resampled['Volume'].cumsum()

# Calculating VWAP for the 5-minute intervals
resampled['VWAP'] = resampled_cumulative_price_volume / resampled_cumulative_volume

resampled.reset_index(inplace=True)
resampled['Date'] = resampled['DateTime'].dt.strftime('%d-%m-%Y')
resampled['Time'] = resampled['DateTime'].dt.strftime('%H:%M:%S')

resampled.drop(columns=['DateTime', 'Price'], inplace=True) # Dropped DateTime column and unnecessary columns
resampled = resampled[['Symbol', 'Date', 'Time', 'Open', 'High', 'Low', 'Close', 'Volume', 'Open Interest', 'VWAP']]

resampled.dropna(inplace=True)
resampled.head(60)

In [ ]:
resampled_df_copy = resampled

# Converted 'Date' and 'Time' columns to strings so that we can concatenate
resampled_df_copy['Date'] = resampled_df_copy['Date'].astype(str)
resampled_df_copy['Time'] = resampled_df_copy['Time'].astype(str)
resampled_df_copy['DateTime'] = pd.to_datetime(resampled_df_copy['Date'] + ' ' + resampled_df_copy['Time'], format='%d-%m-%Y %H:%M:%S')

resampled_df_copy = resampled_df_copy.dropna(subset=['DateTime'])
resampled_df_copy.set_index('DateTime', inplace=True) #Setting DateTime column as index

resampled_df_copy['EMA_12'] = resampled_df_copy['Close'].ewm(span=12, adjust=False).mean() #12-period EMA
resampled_df_copy['EMA_26'] = resampled_df_copy['Close'].ewm(span=26, adjust=False).mean() #26-period EMA

resampled_df_copy['MACD'] = resampled_df_copy['EMA_12'] - resampled_df_copy['EMA_26'] # MACD= 12_EMA - 26_EMA

resampled_df_copy.drop(['Date'	,'Time','EMA_12', 'EMA_26'], axis=1, inplace=True)

resampled_df_copy['Date'] = resampled_df_copy.index.strftime('%d-%m-%Y')
resampled_df_copy['Time'] = resampled_df_copy.index.strftime('%H:%M:%S')
resampled_df_copy = resampled_df_copy[['Symbol', 'Date', 'Time', 'Open', 'High', 'Low', 'Close', 'Volume', 'Open Interest','VWAP' ,'MACD']]
resampled_df_copy

In [ ]:
data = resampled_df_copy.copy()
data['DateTime'] = pd.to_datetime(data['Date'] + ' ' + data['Time'], format='%d-%m-%Y %H:%M:%S')
data.reset_index(drop=True, inplace=True)
df = pd.DataFrame(data)

# Convert DateTime to datetime object
df['DateTime'] = pd.to_datetime(df['DateTime'])

# Extracting the Date Part from 'DateTime'
df['Date'] = df['DateTime'].dt.date

# Calculate POC
aggregated = df.groupby(['Date', 'Close']).agg({'Volume': 'sum'}).reset_index()
poc = aggregated.loc[aggregated.groupby('Date')['Volume'].idxmax()]
poc.rename(columns={'Close': 'Point of Control'}, inplace=True)

# Calculate Local Maximum and Minimum
daily_high_low = df.groupby('Date').agg({'High': 'max', 'Low': 'min'}).reset_index()
daily_high_low.rename(columns={'High': 'Local Maximum', 'Low': 'Local Minimum'}, inplace=True)

# Merge POC and daily high/low back into the original dataframe
df = df.merge(poc[['Date', 'Point of Control']], on='Date', how='left')
df = df.merge(daily_high_low, on='Date', how='left')
df

In [ ]:
df.set_index('DateTime', inplace=True)

def calculate_vah_val_poc(df_day):
    total_volume = df_day['Volume'].sum()
    volume_threshold = 0.7 * total_volume  # 70% volume threshold

    df_day['midpoint'] = (df_day['High'] + df_day['Low']) / 2  # Calculate the midpoint for each row
    df_sorted = df_day.sort_values(by='midpoint', ascending=False)

    cumulative_volume = 0
    VAH = None
    VAL = None
    POC = df_sorted.iloc[0]['midpoint']  # Initialize POC as the highest midpoint

    # Accumulate volume to find VAL and POC
    for index, row in df_sorted.iterrows():
        cumulative_volume += row['Volume']
        if cumulative_volume >= volume_threshold:
            VAL = row['midpoint']
            break

    # The highest price in the sorted DataFrame is VAH
    VAH = df_sorted.iloc[0]['midpoint']

    # Calculate Value Area Width in percentage terms
    value_area_width = ((VAH - VAL) / VAH) * 100

    return pd.Series({'VAH': VAH, 'VAL': VAL, 'POC': POC, 'Value Area Width (%)': value_area_width})

# Group by each day and apply the calculate_vah_val_poc function
df_daily = df.groupby(df.index.date).apply(calculate_vah_val_poc)

# Merge the daily results back into the original DataFrame
df = df.join(df_daily, on=df.index.date)
df

In [ ]:
q = pd.DataFrame(resampled)

q['DateTime'] = pd.to_datetime(q['Date'] + ' ' + q['Time'], format='%d-%m-%Y %H:%M:%S')
q.set_index('DateTime', inplace=True)

def calculate_vah_val(df_day):
    total_volume = df_day['Volume'].sum()
    volume_threshold = 0.7 * total_volume #Here i have considered 70%

    df_day['midpoint'] = (df_day['High'] + df_day['Low']) / 2   # Calculating the midpoint for each row
    df_sorted = df_day.sort_values(by='midpoint', ascending=False)

    cumulative_volume = 0
    VAH = None
    VAL = None

    # Accumulate volume and find VAH and VAL
    for index, row in df_sorted.iterrows():
        cumulative_volume += row['Volume']
        if cumulative_volume >= volume_threshold:
            VAL = row['midpoint']
            break

    # The highest price in the sorted DataFrame is VAH
    VAH = df_sorted.iloc[0]['midpoint']
    return pd.Series({'VAH': VAH, 'VAL': VAL})

result = q.groupby(df.index.date).apply(calculate_vah_val)
result

In [ ]:
result = result.rename_axis('Date').rename(columns={'Date': 'Date'})
result

In [ ]:
poc_last = df.groupby('Date')['Point of Control'].last().reset_index()
result_df = pd.DataFrame(result)

# Merge the result DataFrame with the last POC for each date
final_result = result_df.merge(poc_last, on='Date', how='left')

# Rename columns for clarity
final_result.rename(columns={'Point of Control': 'poc'}, inplace=True)
final_result

In [ ]:
dff=final_result
dff['VAH_3day'] = dff['VAH'].rolling(window=3).mean()
dff['VAL_3day'] = dff['VAL'].rolling(window=3).mean()
dff['VAH_5day'] = dff['VAH'].rolling(window=5).mean()
dff['VAL_5day'] = dff['VAL'].rolling(window=5).mean()

# Calculate rolling POC
dff['POC_3day'] = dff['poc'].rolling(window=3).mean()
dff['POC_5day'] = dff['poc'].rolling(window=5).mean()
dff

In [ ]:
def calculate_ghost_zone(df_day, vah, val):
    # Filter prices above VAH and below VAL
    above_vah = df_day[df_day['High'] > vah]
    below_val = df_day[df_day['Low'] < val]

    highest_above_vah = above_vah['High'].max() if not above_vah.empty else None
    lowest_below_val = below_val['Low'].min() if not below_val.empty else None

    return pd.Series({'Highest Above VAH': highest_above_vah, 'Lowest Below VAL': lowest_below_val})

# Join the original df with the calculated daily VAH and VAL
daily_vah_val = result[['VAH', 'VAL']]

# Iterate over each day to calculate the ghost zone
ghost_zones = []
for date, vah_val in daily_vah_val.iterrows():
    vah = vah_val['VAH']
    val = vah_val['VAL']
    df_day = df[df.index.date == pd.Timestamp(date).date()]

    ghost_zone = calculate_ghost_zone(df_day, vah, val)
    ghost_zones.append(ghost_zone)

# Convert list of series to DataFrame
ghost_zones_df = pd.DataFrame(ghost_zones, index=daily_vah_val.index)

# Combine with the existing result DataFrame
result_with_ghost_zones = result.join(ghost_zones_df)
result_with_ghost_zones

In [ ]:
merged_df = df.merge(result_with_ghost_zones[['Highest Above VAH', 'Lowest Below VAL']], left_on=df.index.date, right_index=True, how='left')
merged_df

In [ ]:
'''merged_df['Previous Day VAH'] = merged_df['VAH'].shift(1)
merged_df['Previous Day VAL'] = merged_df['VAL'].shift(1)

# Function to determine gap up or gap down
def gap_type(row):
    if row['Open'] >= row['Previous Day VAH']:
        return 'Gap Up'
    elif row['Close'] <= row['Previous Day VAL']:
        return 'Gap Down'
    else:
        return ''

# Apply the function to each row
merged_df['Gap Type'] = merged_df.apply(gap_type, axis=1)

# Handle consecutive missing days
merged_df['Date'] = pd.to_datetime(merged_df['Date'])
merged_df['Date_diff'] = merged_df['Date'].diff().dt.days
merged_df.loc[merged_df['Date_diff'] > 1, 'Gap Type'] = ''

merged_df['Gap Type'] = merged_df.groupby('Date')['Gap Type'].transform(lambda x: x.iloc[0]).fillna('')

# Drop the auxiliary columns if needed
merged_df.drop(['Previous Day VAH', 'Previous Day VAL', 'Date_diff'], axis=1, inplace=True)
merged_df
'''

In [ ]:
bday = pd.offsets.BDay()

# Shift the VAH and VAL values by 1 business day within each symbol group
merged_df['Previous Day VAH'] = merged_df.groupby('Symbol')['VAH'].shift(1)
merged_df['Previous Day VAL'] = merged_df.groupby('Symbol')['VAL'].shift(1)

# Fill the Previous Day columns with previous valid values considering business days
merged_df['Previous Day VAH'] = merged_df['Previous Day VAH'].fillna(method='ffill')
merged_df['Previous Day VAL'] = merged_df['Previous Day VAL'].fillna(method='ffill')

# Function to determine gap up or gap down
def gap_type(row):
    if pd.isna(row['Previous Day VAH']) or pd.isna(row['Previous Day VAL']):
        return ''  # Handle cases where previous day values are missing
    if row['Open'] >= row['Previous Day VAH']:
        return 'Gap Up'
    elif row['Close'] <= row['Previous Day VAL']:
        return 'Gap Down'
    else:
        return ''

# Apply the function to each row
merged_df['Gap Type'] = merged_df.apply(gap_type, axis=1)

# Handle consecutive missing days
merged_df['Date'] = pd.to_datetime(merged_df['Date'])
merged_df['Date_diff'] = merged_df['Date'].diff().dt.days
merged_df.loc[merged_df['Date_diff'] > 1, 'Gap Type'] = ''

# Ensure the first non-empty gap type within each date group
merged_df['Gap Type'] = merged_df.groupby('Date')['Gap Type'].transform(lambda x: x.iloc[0]).fillna('')

# Drop the auxiliary columns if needed
merged_df.drop(['Previous Day VAH', 'Previous Day VAL', 'Date_diff'], axis=1, inplace=True)

merged_df

In [ ]:
'''def is_gap_filled(row):
    if row['Open'] >= row['Previous Day Low'] and row['Open'] <= row['High']:
        return 'Yes'
    else:
        return 'No'

merged_df['Previous Day Low'] = merged_df['Low'].shift(1)
merged_df['Gap Filled'] = merged_df.apply(is_gap_filled, axis=1)
merged_df.drop('Previous Day Low', axis=1, inplace=True)
merged_df'''

In [ ]:
df = pd.DataFrame(merged_df)
df['Date'] = pd.to_datetime(df['Date'])

# Function to calculate gap fill status
def gap_filled_status(df):
    df['Gap Filled'] = None  # Initialize the gap_filled column

    # Sort DataFrame by DateTime to ensure chronological order
    df = df.sort_values('DateTime')

    # Iterate through each symbol in the DataFrame
    for symbol in df['Symbol'].unique():
        symbol_data = df[df['Symbol'] == symbol]

        for date in symbol_data['Date'].dt.date.unique():
            day_data = symbol_data[symbol_data['Date'].dt.date == date]
            prev_day_data = symbol_data[symbol_data['Date'].dt.date == date - pd.Timedelta(days=1)]

            if not prev_day_data.empty:
                prev_close = prev_day_data['Close'].iloc[-1]
                open_price = day_data['Open'].iloc[0]
                gap = open_price - prev_close
                gap_type = day_data['Gap Type'].iloc[0]

                if gap_type in ['gap up', 'gap down']:
                    if gap_type == 'gap up':
                        gap_filled = any(day_data['Low'] <= (open_price - 0.5 * abs(gap)))
                    else:
                        gap_filled = any(day_data['High'] >= (open_price + 0.5 * abs(gap)))

                    df.loc[(df['Symbol'] == symbol) & (df['Date'].dt.date == date), 'Gap Filled'] = 'Yes' if gap_filled else 'No'
                else:
                    df.loc[(df['Symbol'] == symbol) & (df['Date'].dt.date == date), 'Gap Filled'] = None

    return df

# Apply the function to the DataFrame
df = gap_filled_status(df)
df

In [ ]:
print(df[df['Gap Filled']=='No'])

In [ ]:
merged_df.reset_index(inplace=True)
merged_df['Date'] = merged_df['DateTime'].dt.date
merged_df = pd.merge(merged_df, dff, on='Date', how='left')
merged_df.drop('Date', axis=1, inplace=True)
merged_df.head()

In [ ]:
merged_df

In [ ]:
import pandas as pd
fut_df1 = pd.DataFrame(merged_df)

fut_df1.reset_index(drop=True, inplace=True)
fut_df1['DateTime'] = pd.to_datetime(fut_df1['DateTime'])

# Identify the first day of each weekly expiry (assuming weekly expiry is every Thursday)
fut_df1['Week_Start'] = fut_df1['DateTime'].dt.to_period('W').apply(lambda r: r.start_time)
week_starts = fut_df1['Week_Start'].unique()

fut_df1['AWAP'] = pd.Series(dtype='float64')
for week_start in week_starts:
    mask = fut_df1['Week_Start'] == week_start
    weekly_data = fut_df1[mask]
    fut_df1.loc[mask, 'AWAP'] = (weekly_data['Close'] * weekly_data['Volume']).cumsum() / weekly_data['Volume'].cumsum()

fut_df1['AWAP'] = fut_df1.groupby('Week_Start')['AWAP'].ffill()
fut_df1.drop(columns=['Week_Start'], inplace=True)

In [ ]:
fut_df1

In [ ]:
fut_df1.columns

In [ ]:
testing=fut_df1.copy()
testing.drop(columns=['Symbol',	'Time'], inplace=True)
testing.rename(columns={'DateTime':'datetime','Open': 'open', 'Close': 'close','High':'high',	'Low':'low',	'Close':'close',	'Volume':'volume',	'Open Interest':'oi',	'VWAP':'vwap',
                   'MACD':'macd',
 'Point of Control':'poc',
 'Local Maximum':'local_max',
 'Local Minimum':'local_min',
 'VAH_x':'vah',
 'VAL_x':'val',
 'POC':'poc',
 'Value Area Width (%)':'value_area_width(%)',
 'Highest Above VAH':'highest_above_vah',
 'Lowest Below VAL':'lowest_below_val',
 'Gap Type':'gap_type',
 'Gap Filled':'gap_filled',
 'VAH_3day':'3_day_vah',
 'VAH_5day':'5_day_vah',
 'VAL_3day':'3_day_val',
 'VAL_5day':'5_day_val',
 'POC_3day':'3_day_poc',
 'POC_5day':'5_day_poc',
 'AWAP':'awap'}, inplace=True)
new_column_order = ['datetime','open',
 'high',
 'low',
 'close',
 'volume',
 'oi',
 'vwap',
 'awap',
 'macd',
 'local_max',
 'local_min',
 'vah',
 'val',
 'poc',
 'value_area_width(%)',
 'highest_above_vah',
 'lowest_below_val',
 'gap_type',
 'gap_filled',
 '3_day_vah',
 '5_day_vah',
 '3_day_val',
 '5_day_val',
 '3_day_poc',
 '5_day_poc']

# Reorder the DataFrame columns
fut_reordered = testing[new_column_order]
fut_reordered

In [ ]:
#df_reordered.to_csv('fut_testing.csv', index=True)

In [ ]:
import pandas as pd
final_opt_df['datetime'] = pd.to_datetime(final_opt_df['datetime'])

fut_reordered = fut_reordered.reset_index()
fut_reordered['datetime'] = pd.to_datetime(fut_reordered['datetime'])
finals = pd.merge(final_opt_df, fut_reordered, left_on='datetime', right_on='datetime', how='inner')
finals

In [ ]:
finals.columns.tolist()

In [ ]:
column_order = [
    'datetime', 'atm', 'open', 'high', 'low', 'close', 'volume', 'oi',
    'max_pain_strike', 'intraday_pcr', 'cumulative_pcr', 'most_active_strikes',
    'vwap', 'awap', 'macd', 'local_max', 'local_min', 'vah', 'val', 'poc',
    'value_area_width(%)', 'highest_above_vah', 'lowest_below_val', 'gap_type',
    'gap_filled', '3_day_vah', '5_day_vah', '3_day_val', '5_day_val', '3_day_poc',
    '5_day_poc'
]

final_columns = [col for col in column_order if col in finals.columns]
final_s = finals[final_columns]
final_s

In [ ]:
final_s.columns.tolist()

In [ ]:
columns_to_round2 = ['vwap', 'awap', 'macd', 'val','3_day_vah' , '3_day_val', '5_day_vah','5_day_val','3_day_poc',	'5_day_poc'
]
columns_to_round4 = [
    'intraday_pcr', 'cumulative_pcr',
    'value_area_width(%)'
]
final_s[columns_to_round2] = final_s[columns_to_round2].round(2)
final_s[columns_to_round4] = final_s[columns_to_round4].round(4)
final_s

In [ ]:
f=final_s
filled_dates = f.groupby(f['datetime'].dt.date)['gap_filled'].transform(lambda x: 'Yes' if 'Yes' in x.values else 'No')
f['gap_filled'] = filled_dates
f
#############################################################################################################################

In [ ]:
f.columns.tolist()

In [ ]:
f = f.loc[:, ~f.columns.duplicated()]

# Print new columns
print("\nColumns after removing duplicates:")
print(f.columns.tolist())

In [ ]:
f.columns.tolist()

In [ ]:
f

In [ ]:
file_path = '/content/gdrive/MyDrive/Solutions/Jan2019.csv'

# Save the DataFrame to CSV
f.to_csv(file_path, index=True)

In [637]:
#final_s.to_csv('opt_fut_combined.csv', index=True)

In [638]:
#final_s.to_csv('1.csv', index=True)

In [639]:
#f.to_csv('2.csv', index=True)