<a href="https://colab.research.google.com/github/naga-dheeraj-p/Assignments/blob/main/Quant_Analyst_Internship.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install dask

Requirement already satisfied: dask in /usr/local/lib/python3.10/dist-packages (2023.8.1)
Requirement already satisfied: click>=8.0 in /usr/local/lib/python3.10/dist-packages (from dask) (8.1.7)
Requirement already satisfied: cloudpickle>=1.5.0 in /usr/local/lib/python3.10/dist-packages (from dask) (2.2.1)
Requirement already satisfied: fsspec>=2021.09.0 in /usr/local/lib/python3.10/dist-packages (from dask) (2023.6.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from dask) (24.0)
Requirement already satisfied: partd>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from dask) (1.4.1)
Requirement already satisfied: pyyaml>=5.3.1 in /usr/local/lib/python3.10/dist-packages (from dask) (6.0.1)
Requirement already satisfied: toolz>=0.10.0 in /usr/local/lib/python3.10/dist-packages (from dask) (0.12.1)
Requirement already satisfied: importlib-metadata>=4.13.0 in /usr/local/lib/python3.10/dist-packages (from dask) (7.1.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.10/dist-packages (from importlib-metadata>=4.13.0->dask) (3.18.1)
Requirement already satisfied: locket in /usr/local/lib/python3.10/dist-packages (from partd>=1.2.0->dask) (1.0.0)

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
import dask.dataframe as dd
import pandas as pd
from sqlalchemy import create_engine

sql_engine = create_engine("sqlite://///content/gdrive/MyDrive/big_file/BANKNIFTY_OPT.db")
connection_string = "sqlite://///content/gdrive/MyDrive/big_file/BANKNIFTY_OPT.db"
tables_query = '''
    SELECT name
    FROM sqlite_master
    WHERE type='table' AND name NOT LIKE 'sqlite_%';
'''

tables_df = pd.read_sql_query(tables_query, sql_engine)

tables_ddf = dd.from_pandas(tables_df, npartitions=1)
relevant_table_names = tables_ddf[tables_ddf['name'].str[-4:].astype(int) > 2017]['name'].compute().tolist()

count = len(relevant_table_names)

print("Relevant Table Names:")
print(relevant_table_names)
print("Count of trading days from 2018 onwards:", count)

Relevant Table Names:
['01012018', '02012018', '03012018', '04012018', '05012018', '08012018', '09012018', '10012018', '11012018', '12012018', '15012018', '16012018', '17012018', '18012018', '19012018', '22012018', '23012018', '24012018', '25012018', '29012018', '30012018', '31012018', '01022018', '02022018', '05022018', '06022018', '07022018', '08022018', '09022018', '12022018', '14022018', '15022018', '16022018', '19022018', '20022018', '21022018', '22022018', '23022018', '26022018', '27022018', '28022018', '01032018', '05032018', '06032018', '07032018', '08032018', '09032018', '12032018', '13032018', '14032018', '15032018', '16032018', '19032018', '20032018', '21032018', '22032018', '23032018', '26032018', '27032018', '28032018', '02042018', '03042018', '04042018', '05042018', '06042018', '09042018', '10042018', '11042018', '12042018', '13042018', '16042018', '17042018', '18042018', '19042018', '20042018', '23042018', '24042018', '25042018', '26042018', '27042018', '30042018', '02052018', '03052018', '04052018', '07052018', '08052018', '09052018', '10052018', '11052018', '14052018', '15052018', '16052018', '17052018', '18052018', '21052018', '22052018', '23052018', '24052018', '25052018', '28052018', '29052018', '30052018', '31052018', '01062018', '04062018', '05062018', '06062018', '07062018', '08062018', '11062018', '12062018', '13062018', '14062018', '15062018', '18062018', '19062018', '20062018', '21062018', '22062018', '25062018', '26062018', '27062018', '28062018', '29062018', '02072018', '03072018', '04072018', '05072018', '06072018', '09072018', '10072018', '11072018', '12072018', '13072018', '16072018', '17072018', '18072018', '19072018', '20072018', '23072018', '24072018', '25072018', '26072018', '27072018', '30072018', '31072018', '01082018', '02082018', '03082018', '06082018', '07082018', '08082018', '09082018', '10082018', '13082018', '14082018', '16082018', '17082018', '20082018', '21082018', '23082018', '24082018', '27082018', '28082018', '29082018', '30082018', '31082018', '03092018', '04092018', '05092018', '06092018', '07092018', '10092018', '11092018', '12092018', '14092018', '17092018', '18092018', '19092018', '21092018', '24092018', '25092018', '26092018', '27092018', '28092018', '01102018', '03102018', '04102018', '05102018', '08102018', '09102018', '10102018', '11102018', '12102018', '15102018', '16102018', '17102018', '19102018', '22102018', '23102018', '24102018', '25102018', '26102018', '29102018', '30102018', '31102018', '01112018', '02112018', '05112018', '06112018', '07112018', '09112018', '12112018', '13112018', '14112018', '15112018', '16112018', '19112018', '20112018', '21112018', '22112018', '26112018', '27112018', '28112018', '29112018', '30112018', '03122018', '04122018', '05122018', '06122018', '07122018', '10122018', '11122018', '12122018', '13122018', '14122018', '17122018', '18122018', '19122018', '20122018', '21122018', '24122018', '26122018', '27122018', '28122018', '31122018', '01012019', '02012019', '03012019', '04012019', '07012019', '08012019', '09012019', '10012019', '11012019', '14012019', '15012019', '16012019', '17012019', '18012019', '21012019', '22012019', '23012019', '24012019', '25012019', '28012019', '29012019', '30012019', '31012019', '01022019', '04022019', '05022019', '06022019', '07022019', '08022019', '11022019', '12022019', '13022019', '14022019', '15022019', '18022019', '19022019', '20022019', '21022019', '22022019', '25022019', '26022019', '27022019', '28022019', '01032019', '05032019', '06032019', '07032019', '08032019', '11032019', '12032019', '13032019', '14032019', '15032019', '18032019', '19032019', '20032019', '22032019', '25032019', '26032019', '27032019', '28032019', '29032019', '01042019', '02042019', '03042019', '04042019', '05042019', '08042019', '09042019', '10042019', '11042019', '12042019', '15042019', '16042019', '18042019', '22042019', '23042019', '24042019', '25042019', '26042019', '30042019', '02052019', '03052019', '06052019', '07052019', '08052019', '09052019', '10052019', '13052019', '14052019', '15052019', '16052019', '17052019', '20052019', '21052019', '22052019', '23052019', '24052019', '27052019', '28052019', '29052019', '30052019', '31052019', '03062019', '04062019', '06062019', '07062019', '10062019', '11062019', '12062019', '13062019', '14062019', '17062019', '18062019', '19062019', '20062019', '21062019', '24062019', '25062019', '26062019', '27062019', '28062019', '01072019', '02072019', '03072019', '04072019', '05072019', '08072019', '09072019', '10072019', '11072019', '12072019', '15072019', '16072019', '17072019', '18072019', '19072019', '22072019', '23072019', '24072019', '25072019', '26072019', '29072019', '30072019', '31072019', '01082019', '02082019', '05082019', '06082019', '07082019', '08082019', '09082019', '13082019', '14082019', '16082019', '19082019', '20082019', '21082019', '22082019', '23082019', '26082019', '27082019', '28082019', '29082019', '30082019', '03092019', '04092019', '05092019', '06092019', '09092019', '11092019', '12092019', '13092019', '16092019', '17092019', '18092019', '19092019', '20092019', '23092019', '24092019', '25092019', '26092019', '27092019', '30092019', '01102019', '03102019', '04102019', '07102019', '09102019', '10102019', '11102019', '14102019', '15102019', '16102019', '17102019', '18102019', '22102019', '23102019', '24102019', '25102019', '27102019', '29102019', '30102019', '31102019', '01112019', '04112019', '05112019', '06112019', '07112019', '08112019', '11112019', '13112019', '14112019', '15112019', '18112019', '19112019', '20112019', '21112019', '22112019', '25112019', '26112019', '27112019', '28112019', '29112019', '02122019', '03122019', '04122019', '05122019', '06122019', '09122019', '10122019', '11122019', '12122019', '13122019', '16122019', '17122019', '18122019', '19122019', '20122019', '23122019', '24122019', '26122019', '27122019', '30122019', '31122019', '01012020', '02012020', '03012020', '06012020', '07012020', '08012020', '09012020', '10012020', '13012020', '14012020', '15012020', '16012020', '17012020', '20012020', '21012020', '22012020', '23012020', '24012020', '27012020', '28012020', '29012020', '30012020', '31012020', '01022020', '03022020', '04022020', '05022020', '06022020', '07022020', '10022020', '11022020', '12022020', '13022020', '14022020', '17022020', '18022020', '19022020', '20022020', '24022020', '25022020', '26022020', '27022020', '28022020', '02032020', '03032020', '04032020', '05032020', '06032020', '09032020', '11032020', '12032020', '13032020', '16032020', '17032020', '18032020', '19032020', '20032020', '23032020', '24032020', '25032020', '26032020', '27032020', '30032020', '31032020', '01042020', '03042020', '07042020', '08042020', '09042020', '13042020', '15042020', '16042020', '17042020', '20042020', '21042020', '22042020', '23042020', '24042020', '27042020', '28042020', '29042020', '30042020', '04052020', '05052020', '06052020', '07052020', '08052020', '11052020', '12052020', '13052020', '14052020', '15052020', '18052020', '19052020', '20052020', '21052020', '22052020', '26052020', '27052020', '28052020', '29052020', '01062020', '02062020', '03062020', '04062020', '05062020', '08062020', '09062020', '10062020', '11062020', '12062020', '15062020', '16062020', '17062020', '18062020', '19062020', '22062020', '23062020', '24062020', '25062020', '26062020', '29062020', '30062020', '01072020', '02072020', '03072020', '06072020', '07072020', '08072020', '09072020', '10072020', '13072020', '14072020', '15072020', '16072020', '17072020', '20072020', '21072020', '22072020', '23072020', '24072020', '27072020', '28072020', '29072020', '30072020', '31072020', '03082020', '04082020', '05082020', '06082020', '07082020', '10082020', '11082020', '12082020', '13082020', '14082020', '18082020', '19082020', '20082020', '21082020', '24082020', '25082020', '26082020', '27082020', '28082020', '31082020', '01092020', '02092020', '03092020', '04092020', '07092020', '08092020', '09092020', '10092020', '11092020', '14092020', '15092020', '16092020', '17092020', '18092020', '21092020', '22092020', '23092020', '24092020', '25092020', '28092020', '29092020', '30092020', '01102020', '05102020', '06102020', '07102020', '08102020', '09102020', '12102020', '13102020', '14102020', '15102020', '16102020', '19102020', '20102020', '21102020', '22102020', '23102020', '26102020', '27102020', '28102020', '29102020', '30102020', '02112020', '03112020', '04112020', '05112020', '06112020', '09112020', '10112020', '11112020', '12112020', '13112020', '14112020', '17112020', '18112020', '19112020', '20112020', '23112020', '24112020', '25112020', '26112020', '27112020', '01122020', '02122020', '03122020', '04122020', '07122020', '08122020', '09122020', '10122020', '11122020', '14122020', '15122020', '16122020', '17122020', '18122020', '21122020', '22122020', '23122020', '24122020', '28122020', '29122020', '30122020', '31122020', '01012021', '04012021', '05012021', '06012021', '07012021', '08012021', '11012021', '12012021', '13012021', '14012021', '15012021', '18012021', '19012021', '20012021', '21012021', '22012021', '25012021', '27012021', '28012021', '29012021', '01022021', '02022021', '03022021', '04022021', '05022021', '08022021', '09022021', '10022021', '11022021', '12022021', '15022021', '16022021', '17022021', '18022021', '19022021', '22022021', '23022021', '24022021', '25022021', '26022021', '01032021', '02032021', '03032021', '04032021', '05032021', '08032021', '09032021', '10032021', '12032021', '15032021', '16032021', '17032021', '18032021', '19032021', '22032021', '23032021', '24032021', '25032021', '26032021', '30032021', '31032021', '01042021', '05042021', '06042021', '07042021', '08042021', '09042021', '12042021', '13042021', '15042021', '16042021', '19042021', '20042021', '22042021', '23042021', '26042021', '27042021', '28042021', '29042021', '30042021', '03052021', '04052021', '05052021', '06052021', '07052021', '10052021', '11052021', '12052021', '14052021', '17052021', '18052021', '19052021', '20052021', '21052021', '24052021', '25052021', '26052021', '27052021', '28052021', '31052021', '01062021', '02062021', '03062021', '04062021', '07062021', '08062021', '09062021', '10062021', '11062021', '14062021', '15062021', '16062021', '17062021', '18062021', '21062021', '22062021', '23062021', '24062021', '25062021', '28062021', '29062021', '30062021', '01072021', '02072021', '05072021', '06072021', '07072021', '08072021', '09072021', '12072021', '13072021', '14072021', '15072021', '16072021', '19072021', '20072021', '22072021', '23072021', '26072021', '27072021', '28072021', '29072021', '30072021', '02082021', '03082021', '04082021', '05082021', '06082021', '09082021', '10082021', '11082021', '12082021', '13082021', '16082021', '17082021', '18082021', '20082021', '23082021', '24082021', '25082021', '26082021', '27082021', '30082021', '31082021', '01092021', '02092021', '03092021', '06092021', '07092021', '08092021', '09092021', '13092021', '14092021', '15092021', '16092021', '17092021', '20092021', '21092021', '22092021', '23092021', '24092021', '27092021', '28092021', '29092021', '30092021', '01102021', '04102021', '05102021', '06102021', '07102021', '08102021', '11102021', '12102021', '13102021', '14102021', '18102021', '19102021', '20102021', '21102021', '22102021', '25102021', '26102021', '27102021', '28102021', '29102021', '01112021', '02112021', '03112021', '08112021', '09112021', '10112021', '11112021', '12112021', '15112021', '16112021', '17112021', '18112021', '22112021', '23112021', '24112021', '25112021', '26112021', '29112021', '30112021', '01122021', '02122021', '03122021', '06122021', '07122021', '08122021', '09122021', '10122021', '13122021', '14122021', '15122021', '16122021', '17122021', '20122021', '21122021', '22122021', '23122021', '24122021', '27122021', '28122021', '29122021', '30122021', '31122021', '03012022', '04012022', '05012022', '06012022', '07012022', '10012022', '11012022', '12012022', '13012022', '14012022', '17012022', '18012022', '19012022', '20012022', '21012022', '24012022', '25012022', '27012022', '28012022', '31012022', '01022022', '02022022', '03022022', '04022022', '07022022', '08022022', '09022022', '10022022', '11022022', '14022022', '15022022', '16022022', '17022022', '18022022', '21022022', '22022022', '23022022', '25022022', '28022022', '02032022', '03032022', '04032022', '07032022', '08032022', '09032022', '10032022', '11032022', '14032022', '15032022', '16032022', '17032022', '21032022', '22032022', '23032022', '24032022', '25032022', '28032022', '29032022', '30032022', '31032022', '01042022', '04042022', '05042022', '06042022', '07042022', '08042022', '11042022', '12042022', '13042022', '18042022', '19042022', '20042022', '21042022', '22042022', '25042022', '26042022', '27042022', '28042022', '29042022', '02052022', '04052022', '05052022', '06052022', '09052022', '10052022', '11052022', '12052022', '13052022', '16052022', '17052022', '18052022', '19052022', '20052022', '23052022', '24052022', '25052022', '26052022', '27052022', '30052022', '31052022', '01062022', '02062022', '03062022', '06062022', '07062022', '08062022', '09062022', '10062022', '13062022', '14062022', '15062022', '16062022', '17062022', '20062022', '21062022', '22062022', '23062022', '24062022', '27062022', '28062022', '29062022', '30062022', '01072022', '04072022', '05072022', '06072022', '07072022', '08072022', '11072022', '12072022', '13072022', '14072022', '15072022', '18072022', '19072022', '20072022', '21072022', '22072022', '25072022', '26072022', '27072022', '28072022', '29072022', '01082022', '02082022', '03082022', '04082022', '05082022', '08082022', '10082022', '11082022', '12082022', '16082022', '17082022', '18082022', '19082022', '22082022', '23082022', '24082022', '26082022', '29082022', '30082022', '01092022', '02092022', '05092022', '06092022', '07092022', '08092022', '09092022', '12092022', '13092022', '14092022', '15092022', '16092022', '19092022', '20092022', '21092022', '22092022', '23092022', '26092022', '27092022', '28092022', '29092022', '30092022', '03102022', '04102022', '06102022', '07102022', '10102022', '11102022', '12102022', '13102022', '14102022', '17102022', '18102022', '19102022', '20102022', '21102022', '24102022', '25102022', '27102022', '28102022', '31102022', '01112022', '02112022', '03112022', '04112022', '07112022', '09112022', '10112022', '11112022', '14112022', '15112022', '16112022', '17112022', '18112022', '21112022', '22112022', '23112022', '24112022', '25112022', '28112022', '29112022', '30112022', '01122022', '02122022', '05122022', '06122022', '07122022', '08122022', '09122022', '12122022', '13122022', '14122022', '15122022', '16122022', '19122022', '20122022', '21122022', '22122022', '23122022', '26122022', '27122022', '28122022', '29122022', '30122022', '02012023', '03012023', '04012023', '05012023', '06012023', '09012023', '10012023', '11012023', '12012023', '13012023', '16012023', '17012023', '18012023', '19012023', '20012023', '23012023', '24012023', '25012023', '27012023', '30012023', '31012023', '02022023', '03022023', '06022023', '07022023', '08022023', '09022023', '10022023', '13022023', '14022023', '15022023', '16022023', '17022023', '20022023', '21022023', '22022023', '23022023', '24022023', '27022023', '28022023', '01032023', '02032023', '03032023', '06032023', '08032023', '09032023', '10032023', '13032023', '14032023', '15032023', '16032023', '17032023', '20032023', '21032023', '22032023', '23032023', '24032023', '27032023', '28032023', '29032023', '31032023', '03042023', '05042023', '06042023', '10042023', '11042023', '12042023', '13042023', '17042023', '18042023', '19042023', '20042023', '21042023', '24042023', '25042023', '26042023', '27042023', '28042023', '02052023', '03052023', '04052023', '05052023', '08052023', '09052023', '10052023', '11052023', '12052023', '15052023', '16052023', '17052023', '18052023', '19052023', '22052023', '23052023', '24052023', '25052023', '26052023', '29052023', '30052023', '31052023', '01062023', '02062023', '05062023', '06062023', '07062023', '08062023', '09062023', '12062023', '13062023', '14062023', '15062023', '16062023', '19062023', '20062023', '21062023', '22062023', '23062023', '26062023', '27062023', '28062023', '30062023', '03072023', '04072023', '05072023', '06072023', '07072023', '10072023', '11072023', '12072023', '13072023', '14072023', '17072023', '18072023', '19072023', '20072023', '21072023', '24072023', '25072023', '26072023', '27072023', '28072023', '31072023', '01082023', '02082023', '03082023', '04082023', '07082023', '08082023', '09082023', '10082023', '11082023', '14082023', '16082023', '17082023', '18082023', '21082023', '22082023', '23082023', '24082023', '25082023', '28082023', '29082023', '30082023', '31082023', '01092023', '04092023', '05092023', '06092023', '07092023', '08092023', '11092023', '12092023', '13092023', '14092023', '15092023', '18092023', '20092023', '21092023', '22092023', '25092023', '26092023', '27092023', '28092023', '29092023', '03102023', '04102023', '05102023', '06102023', '09102023', '10102023', '11102023', '12102023', '13102023', '16102023', '17102023', '18102023', '19102023', '20102023', '23102023', '25102023', '26102023', '27102023', '30102023', '31102023', '01112023', '02112023', '17082020', '01022023', '24022022', '25082022', '03112023', '06112023', '07112023', '08112023', '09112023', '10112023', '12112023', '13112023', '15112023', '16112023', '17112023', '20112023', '21112023', '22112023', '23112023', '24112023', '28112023', '29112023', '30112023', '01122023', '04122023', '05122023', '06122023', '07122023', '08122023', '11122023', '12122023', '13122023', '14122023', '15122023', '18122023', '19122023', '20122023', '21122023', '22122023', '26122023', '27122023', '28122023']
Count of trading days from 2018 onwards: 1483

In [12]:
import dask.dataframe as dd
from sqlalchemy import create_engine, MetaData, Table, select

# Define the connection string
connection_string = "sqlite://///content/gdrive/MyDrive/big_file/BANKNIFTY_OPT.db"

# Create an SQLAlchemy engine
engine = create_engine(connection_string)

# Create an SQLAlchemy MetaData object
metadata = MetaData()

# Reflect all tables from the database
metadata.reflect(bind=engine)

# Filter relevant tables
relevant_table_names = [table_name for table_name in metadata.tables.keys() if int(table_name[-4:]) > 2017]

# Read data from each table using Dask
dfs = []
for table_name in relevant_table_names:
    # Reflect the table
    table = Table(table_name, metadata, autoload=True, autoload_with=engine)
    # Create a select statement
    select_stmt = select([table]).alias()
    # Read data into Dask DataFrame
    df_dask = dd.read_sql_table(select_stmt, connection_string, index_col='time', npartitions=4)
    dfs.append(df_dask)

# Concatenate the dataframes
merged_df = dd.concat(dfs)

# Print the head of the merged DataFrame
print(merged_df.head())

ArgumentError: Column expression, FROM clause, or other columns clause element expected, got [Table('01012018', MetaData(), Column('time', TEXT(), table=<01012018>), Column('symbol', TEXT(), table=<01012018>), Column('open', REAL(), table=<01012018>), Column('high', REAL(), table=<01012018>), Column('low', REAL(), table=<01012018>), Column('close', REAL(), table=<01012018>), Column('volume', INTEGER(), table=<01012018>), Column('oi', INTEGER(), table=<01012018>), Column('expiry', TEXT(), table=<01012018>), Column('strike', INTEGER(), table=<01012018>), Column('instrument_type', TEXT(), table=<01012018>), schema=None)]. Did you mean to say select(Table('01012018', MetaData(), Column('time', TEXT(), table=<01012018>), Column('symbol', TEXT(), table=<01012018>), Column('open', REAL(), table=<01012018>), Column('high', REAL(), table=<01012018>), Column('low', REAL(), table=<01012018>), Column('close', REAL(), table=<01012018>), Column('volume', INTEGER(), table=<01012018>), Column('oi', INTEGER(), table=<01012018>), Column('expiry', TEXT(), table=<01012018>), Column('strike', INTEGER(), table=<01012018>), Column('instrument_type', TEXT(), table=<01012018>), schema=None))?

In [14]:
import dask.dataframe as dd
from sqlalchemy import create_engine, MetaData, Table, select

# Define the connection string
connection_string = "sqlite://///content/gdrive/MyDrive/big_file/BANKNIFTY_OPT.db"

# Create an SQLAlchemy engine
engine = create_engine(connection_string)

# Create an SQLAlchemy MetaData object
metadata = MetaData()

# Reflect all tables from the database
metadata.reflect(bind=engine)

# Filter relevant tables
relevant_table_names = [table_name for table_name in metadata.tables.keys() if int(table_name[-4:]) > 2017]

# Read data from each table using Dask
dfs = []
for table_name in relevant_table_names:
    # Reflect the table
    table = Table(table_name, metadata, autoload=True, autoload_with=engine)
    # Define columns explicitly
    columns = [table.c.time, table.c.symbol, table.c.open, table.c.high, table.c.low, table.c.close,
               table.c.volume, table.c.oi, table.c.expiry, table.c.strike, table.c.instrument_type]
    # Create a select statement with explicit columns
    select_stmt = select(*columns).select_from(table).alias()
    # Read data into Dask DataFrame
    df_dask = dd.read_sql_table(select_stmt, connection_string, index_col='time', npartitions=4)
    dfs.append(df_dask)

# Concatenate the dataframes
merged_df = dd.concat(dfs)

# Print the head of the merged DataFrame
print(merged_df.head())

TypeError: `table_name` must be of type str, not <class 'sqlalchemy.sql.selectable.Subquery'>

In [16]:
import dask.dataframe as dd
from sqlalchemy import create_engine, MetaData, Table, select

# Define the connection string
connection_string = "sqlite://///content/gdrive/MyDrive/big_file/BANKNIFTY_OPT.db"

# Create an SQLAlchemy engine
engine = create_engine(connection_string)

# Create an SQLAlchemy MetaData object
metadata = MetaData()

# Reflect all tables from the database
metadata.reflect(bind=engine)

# Filter relevant tables
relevant_table_names = [table_name for table_name in metadata.tables.keys() if int(table_name[-4:]) > 2017]

# Read data from each table using Dask
dfs = []
for table_name in relevant_table_names:
    # Reflect the table
    table = Table(table_name, metadata, autoload=True, autoload_with=engine)
    # Define columns explicitly
    columns = [table.c.time, table.c.symbol, table.c.open, table.c.high, table.c.low, table.c.close,
               table.c.volume, table.c.oi, table.c.expiry, table.c.strike, table.c.instrument_type]
    # Create a select statement with explicit columns
    select_stmt = select(*columns).select_from(table)
    # Execute the select statement
    with engine.connect() as conn:
        result = conn.execute(select_stmt)
        # Convert result to DataFrame
        df = dd.from_delayed([result.fetchall()], meta=result._metadata)
        dfs.append(df)

# Concatenate the dataframes
merged_df = dd.concat(dfs)

# Set the index column
merged_df = merged_df.set_index('time')

# Print the head of the merged DataFrame
print(merged_df.head())

TypeError: Expected Delayed object, got list

In [17]:
import dask.dataframe as dd
from dask.delayed import delayed
from sqlalchemy import create_engine, MetaData, Table, select

# Define the connection string
connection_string = "sqlite://///content/gdrive/MyDrive/big_file/BANKNIFTY_OPT.db"

# Create an SQLAlchemy engine
engine = create_engine(connection_string)

# Create an SQLAlchemy MetaData object
metadata = MetaData()

# Reflect all tables from the database
metadata.reflect(bind=engine)

# Filter relevant tables
relevant_table_names = [table_name for table_name in metadata.tables.keys() if int(table_name[-4:]) > 2017]

# Read data from each table using Dask
dfs = []
for table_name in relevant_table_names:
    # Reflect the table
    table = Table(table_name, metadata, autoload=True, autoload_with=engine)
    # Define columns explicitly
    columns = [table.c.time, table.c.symbol, table.c.open, table.c.high, table.c.low, table.c.close,
               table.c.volume, table.c.oi, table.c.expiry, table.c.strike, table.c.instrument_type]
    # Create a select statement with explicit columns
    select_stmt = select(*columns).select_from(table)
    # Execute the select statement
    with engine.connect() as conn:
        result = conn.execute(select_stmt)
        # Convert result to delayed object
        delayed_result = delayed(result.fetchall)()
        # Convert delayed result to DataFrame
        df = dd.from_delayed([delayed_result], meta=result._metadata)
        dfs.append(df)

# Concatenate the dataframes
merged_df = dd.concat(dfs)

# Set the index column
merged_df = merged_df.set_index('time')

# Print the head of the merged DataFrame
print(merged_df.head())

TypeError: Don't know how to create metadata from <sqlalchemy.engine.cursor.CursorResultMetaData object at 0x7c94c9059700>

In [18]:
import dask.dataframe as dd
from dask.delayed import delayed
from sqlalchemy import create_engine, MetaData, Table, select

# Define the connection string
connection_string = "sqlite://///content/gdrive/MyDrive/big_file/BANKNIFTY_OPT.db"

# Create an SQLAlchemy engine
engine = create_engine(connection_string)

# Create an SQLAlchemy MetaData object
metadata = MetaData()

# Reflect all tables from the database
metadata.reflect(bind=engine)

# Filter relevant tables
relevant_table_names = [table_name for table_name in metadata.tables.keys() if int(table_name[-4:]) > 2017]

# Read data from each table using Dask
dfs = []
for table_name in relevant_table_names:
    # Reflect the table
    table = Table(table_name, metadata, autoload=True, autoload_with=engine)
    # Define columns explicitly
    columns = [table.c.time, table.c.symbol, table.c.open, table.c.high, table.c.low, table.c.close,
               table.c.volume, table.c.oi, table.c.expiry, table.c.strike, table.c.instrument_type]
    # Create a select statement with explicit columns
    select_stmt = select(*columns).select_from(table)
    # Execute the select statement
    with engine.connect() as conn:
        result = conn.execute(select_stmt)
        # Convert result to delayed object
        delayed_result = delayed(result.fetchall)()
        # Create Dask metadata manually
        meta = {
            'time': str(result._metadata.columns['time'].type),
            'symbol': str(result._metadata.columns['symbol'].type),
            'open': str(result._metadata.columns['open'].type),
            'high': str(result._metadata.columns['high'].type),
            'low': str(result._metadata.columns['low'].type),
            'close': str(result._metadata.columns['close'].type),
            'volume': str(result._metadata.columns['volume'].type),
            'oi': str(result._metadata.columns['oi'].type),
            'expiry': str(result._metadata.columns['expiry'].type),
            'strike': str(result._metadata.columns['strike'].type),
            'instrument_type': str(result._metadata.columns['instrument_type'].type)
        }
        # Convert delayed result to DataFrame
        df = dd.from_delayed([delayed_result], meta=meta)
        dfs.append(df)

# Concatenate the dataframes
merged_df = dd.concat(dfs)

# Set the index column
merged_df = merged_df.set_index('time')

# Print the head of the merged DataFrame
print(merged_df.head())

AttributeError: 'CursorResultMetaData' object has no attribute 'columns'

In [22]:
import dask.dataframe as dd
from dask.delayed import delayed
from sqlalchemy import create_engine, MetaData, Table, select

# Define the connection string
connection_string = "sqlite://///content/gdrive/MyDrive/big_file/BANKNIFTY_OPT.db"

# Create an SQLAlchemy engine
engine = create_engine(connection_string)

# Create an SQLAlchemy MetaData object
metadata = MetaData()

# Reflect all tables from the database
metadata.reflect(bind=engine)

# Filter relevant tables
relevant_table_names = [table_name for table_name in metadata.tables.keys() if int(table_name[-4:]) > 2017]

# Read data from each table using Dask
dfs = []
for table_name in relevant_table_names:
    # Reflect the table
    table = Table(table_name, metadata, autoload=True, autoload_with=engine)
    # Define columns explicitly
    columns = [table.c.time, table.c.symbol, table.c.open, table.c.high, table.c.low, table.c.close,
               table.c.volume, table.c.oi, table.c.expiry, table.c.strike, table.c.instrument_type]
    # Create a select statement with explicit columns
    select_stmt = select(*columns).select_from(table)
    # Execute the select statement
    with engine.connect() as conn:
        result = conn.execute(select_stmt)
        # Convert result to delayed object
        delayed_result = delayed(result.fetchall)()
        # Create Dask metadata manually
        meta = {
            'time': 'datetime64[ns]',  # Assuming 'time' column is of datetime type
            'symbol': str,  # Assuming 'symbol' column is of string type
            'open': float,  # Assuming 'open' column is of float type
            'high': float,  # Assuming 'high' column is of float type
            'low': float,   # Assuming 'low' column is of float type
            'close': float, # Assuming 'close' column is of float type
            'volume': int,  # Assuming 'volume' column is of integer type
            'oi': int,      # Assuming 'oi' column is of integer type
            'expiry': str,  # Assuming 'expiry' column is of string type
            'strike': int,  # Assuming 'strike' column is of integer type
            'instrument_type': str  # Assuming 'instrument_type' column is of string type
        }
        # Convert delayed result to DataFrame
        df = dd.from_delayed([delayed_result], meta=meta)
        dfs.append(df)

# Concatenate the dataframes
merged_df = dd.concat(dfs)

# Set the index column
merged_df = merged_df.set_index('time')

# Print the head of the merged DataFrame
print(merged_df.head())

ValueError: Metadata mismatch found in `from_delayed`.

Expected partition of type `pandas.core.frame.DataFrame` but got `list`

In [ ]:
import dask.dataframe as dd
from sqlalchemy import create_engine, MetaData, Table, select
from dask.delayed import delayed

# Define the connection string
connection_string = "sqlite://///content/gdrive/MyDrive/big_file/BANKNIFTY_OPT.db"

# Create an SQLAlchemy engine
engine = create_engine(connection_string)

# Create an SQLAlchemy MetaData object
metadata = MetaData()

# Reflect all tables from the database
metadata.reflect(bind=engine)

# Filter relevant tables
relevant_table_names = [table_name for table_name in metadata.tables.keys() if int(table_name[-4:]) > 2017]

# Function to read each table as a Dask DataFrame
def read_table(table_name):
    # Reflect the table
    table = Table(table_name, metadata, autoload=True, autoload_with=engine)
    # Define columns explicitly
    columns = [table.c.time, table.c.symbol, table.c.open, table.c.high, table.c.low, table.c.close,
               table.c.volume, table.c.oi, table.c.expiry, table.c.strike, table.c.instrument_type]
    # Create a select statement with explicit columns
    select_stmt = select(*columns).select_from(table)
    # Execute the select statement and fetch results into a Dask DataFrame
    with engine.connect() as conn:
        result = conn.execute(select_stmt)
        # Convert each row to a delayed object
        delayed_results = [delayed(row) for row in result.fetchall()]
        # Create Dask metadata manually
        meta = {
            'time': 'datetime64[ns]',  # Assuming 'time' column is of datetime type
            'symbol': str,  # Assuming 'symbol' column is of string type
            'open': float,  # Assuming 'open' column is of float type
            'high': float,  # Assuming 'high' column is of float type
            'low': float,   # Assuming 'low' column is of float type
            'close': float, # Assuming 'close' column is of float type
            'volume': int,  # Assuming 'volume' column is of integer type
            'oi': int,      # Assuming 'oi' column is of integer type
            'expiry': str,  # Assuming 'expiry' column is of string type
            'strike': int,  # Assuming 'strike' column is of integer type
            'instrument_type': str  # Assuming 'instrument_type' column is of string type
        }
        # Convert delayed results to DataFrame
        df = dd.from_delayed(delayed_results, meta=meta)
    return df


# Read data from each table using Dask and concatenate them
dfs = [read_table(table_name) for table_name in relevant_table_names]

'''# Check metadata of each DataFrame
for i, df in enumerate(dfs):
    print(f"Metadata of DataFrame {i + 1}:")
    print(df.dtypes)  # Print data types of columns'''

for i, df in enumerate(dfs):
    dfs[i]['symbol'] = df['symbol'].astype('string')
    dfs[i]['expiry'] = df['expiry'].astype('string')
    dfs[i]['instrument_type'] = df['instrument_type'].astype('string')

# Concatenate DataFrames
merged_df = dd.concat(dfs)

# Print the head of the merged DataFrame
print(merged_df.head())

In [8]:
import dask.dataframe as dd
from sqlalchemy import create_engine, MetaData, Table, select
from dask.delayed import delayed

# Define the connection string
connection_string = "sqlite://///content/gdrive/MyDrive/big_file/BANKNIFTY_OPT.db"

# Create an SQLAlchemy engine
engine = create_engine(connection_string)

# Create an SQLAlchemy MetaData object
metadata = MetaData()

# Reflect all tables from the database
metadata.reflect(bind=engine)

# Filter relevant tables
relevant_table_names = [table_name for table_name in metadata.tables.keys() if int(table_name[-4:]) > 2017]

# Function to read each table as a Dask DataFrame
def read_table(table_name):
    # Reflect the table
    table = Table(table_name, metadata, autoload=True, autoload_with=engine)
    # Define columns explicitly
    columns = [table.c.time, table.c.symbol, table.c.open, table.c.high, table.c.low, table.c.close,
               table.c.volume, table.c.oi, table.c.expiry, table.c.strike, table.c.instrument_type]
    # Create a select statement with explicit columns
    select_stmt = select(*columns).select_from(table)
    # Execute the select statement and fetch results
    with engine.connect() as conn:
        result = conn.execute(select_stmt)
        # Get metadata
        meta = {col.name: col.type.python_type for col in result.cursor.description}
        # Convert each row to a delayed DataFrame
        delayed_dfs = [dd.from_delayed([delayed(row)] * len(columns), meta=meta, columns=columns) for row in result.fetchall()]
    return delayed_dfs

# Read data from each table using Dask and concatenate them
dfs = [df for table_name in relevant_table_names for df in read_table(table_name)]
merged_df = dd.concat(dfs)

# Print the head of the merged DataFrame
print(merged_df.head())

AttributeError: 'tuple' object has no attribute 'name'

In [45]:
import dask.dataframe as dd
from sqlalchemy import create_engine

connection_string = "sqlite://///content/gdrive/MyDrive/big_file/BANKNIFTY_OPT.db"

# Create SQLAlchemy engine
sql_engine = create_engine(connection_string)

tables_query = '''
    SELECT name
    FROM sqlite_master
    WHERE type='table' AND name NOT LIKE 'sqlite_%';
'''
import pandas as pd
tables_df = pd.read_sql_query(tables_query, sql_engine)

relevant_table_names = tables_df[tables_df['name'].str[-4:].astype(int) > 2017]['name'].tolist()

dfs = []
for table_name in relevant_table_names:
    sql_query = f"SELECT *, CAST(time AS DATETIME) AS time FROM {table_name};"
    df_dask = dd.read_sql_query(sql_query, sql_engine, index_col='time', npartitions=4)
    dfs.append(df_dask)

merged_df = dd.concat(dfs)
print(merged_df.head())

TypeError: 'con' must be of type str, not <class 'sqlalchemy.engine.base.Engine'>Note: Dask does not support SQLAlchemy connectables here

In [44]:
import dask.dataframe as dd
from sqlalchemy import create_engine

connection_string = "sqlite://///content/gdrive/MyDrive/big_file/BANKNIFTY_OPT.db"

tables_query = '''
    SELECT name
    FROM sqlite_master
    WHERE type='table' AND name NOT LIKE 'sqlite_%';
'''
import pandas as pd
tables_df = pd.read_sql_query(tables_query, connection_string)

relevant_table_names = tables_df[tables_df['name'].str[-4:].astype(int) > 2017]['name'].tolist()

dfs = []
for table_name in relevant_table_names:
    sql_query = f"SELECT *, CAST(time AS DATETIME) AS time FROM {table_name};"
    df_dask = dd.read_sql_query(sql_query, connection_string, index_col='time', npartitions=4)
    dfs.append(df_dask)

merged_df = dd.concat(dfs)
print(merged_df.head())

AttributeError: 'str' object has no attribute 'limit'

In [ ]:
import dask.dataframe as dd
import pandas as pd
from sqlalchemy import create_engine

# Define the connection string
connection_string = "sqlite://///content/gdrive/MyDrive/big_file/BANKNIFTY_OPT.db"

# Create SQLAlchemy engine
sql_engine = create_engine(connection_string)

# Execute the query to get relevant table names
tables_query = '''
    SELECT name
    FROM sqlite_master
    WHERE type='table' AND name NOT LIKE 'sqlite_%';
'''
tables_df = pd.read_sql_query(tables_query, sql_engine)

# Filter relevant table names based on the last 4 characters (assuming they represent years)
relevant_table_names = tables_df[tables_df['name'].str[-4:].astype(int) > 2017]['name'].tolist()

# Define a list to store Dask DataFrames
dfs = []

# Loop through relevant table names
for table_name in relevant_table_names:
    # Construct SQL query to select all columns and cast 'time' as DATETIME
    sql_query = f"SELECT *, CAST(time AS DATETIME) AS time FROM `{table_name}`;"

    # Read data into a Pandas DataFrame
    df_pandas = pd.read_sql_query(sql_query, sql_engine, index_col='time')

    # Convert Pandas DataFrame to Dask DataFrame
    df_dask = dd.from_pandas(df_pandas, npartitions=4)

    # Append Dask DataFrame to the list
    dfs.append(df_dask)

# Concatenate Dask DataFrames into one
merged_df = dd.concat(dfs)

# Display the first few rows of the merged Dask DataFrame
print(merged_df.head())

In [1]:
import dask.dataframe as dd
import pandas as pd
from sqlalchemy import create_engine

# Define the connection string
connection_string = "sqlite://///content/gdrive/MyDrive/big_file/BANKNIFTY_OPT.db"

# Create SQLAlchemy engine
sql_engine = create_engine(connection_string)

# Execute the query to get relevant table names
tables_query = '''
    SELECT name
    FROM sqlite_master
    WHERE type='table' AND name NOT LIKE 'sqlite_%';
'''
tables_df = pd.read_sql_query(tables_query, sql_engine)

# Filter relevant table names based on the last 4 characters (assuming they represent years)
relevant_table_names = tables_df[tables_df['name'].str[-4:].astype(int) > 2017]['name'].tolist()

# Define a list to store Dask DataFrames
dfs = []

# Loop through relevant table names
for table_name in relevant_table_names:
    # Construct SQL query to select all columns and cast 'time' as DATETIME
    sql_query = f"SELECT *, CAST(time AS DATETIME) AS time FROM `{table_name}`;"

    # Read data into a Dask DataFrame
    df_dask = dd.read_sql_query(sql_query, sql_engine, index_col='time', npartitions=4)

    # Append Dask DataFrame to the list
    dfs.append(df_dask)

# Concatenate Dask DataFrames into one
merged_df = dd.concat(dfs)

# Display the first few rows of the merged Dask DataFrame
print(merged_df.head())

TypeError: 'con' must be of type str, not <class 'sqlalchemy.engine.base.Engine'>Note: Dask does not support SQLAlchemy connectables here

In [29]:
import dask.dataframe as dd
import pandas as pd
from sqlalchemy import text

# Define the SQL query to select data
query = text("SELECT * FROM '02012018';")

# Read the data into a Pandas DataFrame
df_pandas = pd.read_sql_query(query, connection_string)

# Check the data types of the index column
print(df_pandas.dtypes)

# Convert the 'time' column to datetime if it's not already in that format
df_pandas['time'] = pd.to_datetime(df_pandas['time'])

# Convert the Pandas DataFrame to a Dask DataFrame
df_dask = dd.from_pandas(df_pandas, npartitions=1)

# Display the first few rows of the Dask DataFrame
df_dask.head()

time                object
symbol              object
open               float64
high               float64
low                float64
close              float64
volume               int64
oi                   int64
expiry              object
strike               int64
instrument_type     object
dtype: object

<ipython-input-29-334f86d3de1a>:15: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_pandas['time'] = pd.to_datetime(df_pandas['time'])

,time,symbol,open,high,low,close,volume,oi,expiry,strike,instrument_type
0,2024-05-03 09:29:00,BANKNIFTY04JAN1823300PE,0.50,2.00,0.50,0.50,80,5800,04-01-2018,23300,PE
1,2024-05-03 09:30:00,BANKNIFTY04JAN1823300PE,2.00,2.00,2.00,2.00,80,5800,04-01-2018,23300,PE
2,2024-05-03 09:31:00,BANKNIFTY04JAN1823300PE,2.00,2.00,2.00,2.00,80,5800,04-01-2018,23300,PE
3,2024-05-03 09:34:00,BANKNIFTY04JAN1823300PE,0.15,0.15,0.15,0.15,240,5800,04-01-2018,23300,PE
4,2024-05-03 09:50:00,BANKNIFTY04JAN1823300PE,0.35,0.35,0.35,0.35,40,5800,04-01-2018,23300,PE

In [5]:
import dask.dataframe as dd
import os
from sqlalchemy import create_engine, text

# Define the connection string
connection_string = 'sqlite://///content/gdrive/MyDrive/big_file/BANKNIFTY_OPT.db'

# Create SQLAlchemy engine
engine = create_engine(connection_string)

# Define the SQL query to retrieve table names
tables_query = text('''
    SELECT name
    FROM sqlite_master
    WHERE type='table' AND name NOT LIKE 'sqlite_%';
''')

# Retrieve table names
with engine.connect() as connection:
    tables = connection.execute(tables_query)
    table_names = [table[0] for table in tables]

# Define the folder to store the CSV files
csv_folder = '/content/sample_data/Bank_Nifty_csv'
os.makedirs(csv_folder, exist_ok=True)

# Function to export each table to CSV
def export_table_to_csv(table_name):
    query = f"SELECT * FROM {table_name};"
    # Read data from the database using Dask
    df = dd.read_sql_query(query, connection_string, index_col='time')
    df = df.set_index('time')
    # Write the dataframe to a CSV file
    df.to_csv(os.path.join(csv_folder, f'{table_name}.csv'))

for table_name in table_names:
    export_table_to_csv(table_name)

csv_files = [os.path.join(csv_folder, f'{table_name}.csv') for table_name in table_names]


def read_csv(file):
    return dd.read_csv(file)

dfs = [dask.delayed(read_csv)(file) for file in csv_files]
merged_df = dd.concat(dfs)

merged_df = merged_df.compute()

AttributeError: 'str' object has no attribute 'limit'

In [ ]:
import os
import dask.dataframe as dd
from sqlalchemy import create_engine
import pandas as pd

# SQLite database path
db_path = "/content/gdrive/MyDrive/big_file/BANKNIFTY_OPT.db"

# Create SQLAlchemy engine
sql_engine = create_engine(f"sqlite:///{db_path}")

# Define the SQL query to get relevant table names
tables_query = '''
    SELECT name
    FROM sqlite_master
    WHERE type='table' AND name NOT LIKE 'sqlite_%' AND CAST(substr(name, -4) AS INT) > 2017;
'''

# Read table names from SQLite database
relevant_table_names = pd.read_sql_query(tables_query, sql_engine)['name'].tolist()

# Define the folder to store the CSV files
csv_folder = '/content/sample_data/Bank_Nifty_csv'
os.makedirs(csv_folder, exist_ok=True)

# Function to export each table to CSV
def export_table_to_csv(table_name):
    query = f"SELECT * FROM {table_name};"
    # Read data from the database using Dask
    df = dd.read_sql_query(query, sql_engine)
    # Write the dataframe to a CSV file
    df.to_csv(os.path.join(csv_folder, f'{table_name}.csv'), index=False)

# Export each relevant table to CSV
for table_name in relevant_table_names:
    export_table_to_csv(table_name)

TypeError: read_sql_query() missing 1 required positional argument: 'index_col'

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# Define the path to the SQLite database file
db_path = "/content/gdrive/MyDrive/big_file/BANKNIFTY_OPT.db"

# Create a SQLAlchemy engine
engine = create_engine(f"sqlite:///{db_path}")

# Define the SQL query to select data
chunk_size = 100
relevant_table_names=relevant_table_names

# Initialize an empty list to store data chunks
all_chunks = []

# Iterate over each table in relevant_table_names
for table_name in relevant_table_names:
    query = f"SELECT * FROM `{table_name}`;"  # Enclose table name in backticks
    data_chunks = pd.read_sql_query(query, engine, chunksize=chunk_size)

    # Append each chunk to the list of chunks
    for chunk in data_chunks:
        all_chunks.append(chunk)

# Concatenate all chunks into a single DataFrame
combined_df = pd.concat(all_chunks, ignore_index=True)

# Display the combined DataFrame
print("Combined DataFrame:")
display(combined_df.head())

In [21]:
import dask.dataframe as dd
from sqlalchemy import create_engine
import pandas as pd
from dask import delayed, compute

# Define the SQLAlchemy engine
engine = create_engine(connection_string)

# Create a list to store delayed tasks for reading tables
delayed_dfs = []

# Define a function to read each table and convert to Dask DataFrame
def read_table_to_dask(table_name):
    # Read the SQL table into a Pandas DataFrame
    df_pd = pd.read_sql_table(table_name, engine)

    # Convert the 'time' column to datetime with specified format
    df_pd['time'] = pd.to_datetime(df_pd['time'], format='%H:%M:%S')

    # Convert the Pandas DataFrame to a Dask DataFrame
    df_dask = dd.from_pandas(df_pd, npartitions=4)  # You can adjust the number of partitions as needed

    # Set the 'time' column as the index
    df_dask = df_dask.set_index('time')

    return df_dask

# Create delayed tasks for reading each table
for table_name in relevant_table_names:
    delayed_df = delayed(read_table_to_dask)(table_name)
    delayed_dfs.append(delayed_df)

# Compute the delayed tasks in parallel
dfs = compute(*delayed_dfs)

# Concatenate all the Dask DataFrames into a single DataFrame
merged_df = dd.concat(dfs)

# Display the first few rows of the merged DataFrame
print(merged_df.head())

KeyboardInterrupt:

In [8]:
import dask.dataframe as dd
from sqlalchemy import create_engine

sql_engine = create_engine("sqlite://///content/gdrive/MyDrive/big_file/BANKNIFTY_OPT.db")
connection_string = "sqlite://///content/gdrive/MyDrive/big_file/BANKNIFTY_OPT.db"
tables_query = '''
    SELECT name
    FROM sqlite_master
    WHERE type='table' AND name NOT LIKE 'sqlite_%';
'''

# Connect to the database
conn = sql_engine.connect()

# Execute the query to get relevant table names
relevant_table_names =relevant_table_names
relevant_table_names = [table[0] for table in relevant_table_names]

dfs = []
for table_name in relevant_table_names:
    # Convert SQLAlchemy engine to connection string
    sql_query = f"SELECT *, CAST(time AS DATETIME) AS time FROM {table_name};"
    df_dask = dd.read_sql_query(sql_query, sql_engine, index_col='time', npartitions=4)
    dfs.append(df_dask)

merged_df = dd.concat(dfs)
print(merged_df.head())

TypeError: 'con' must be of type str, not <class 'sqlalchemy.engine.base.Engine'>Note: Dask does not support SQLAlchemy connectables here